[2022-09-20 20:26] lkishalmi commented on #4650
Just to present. The Self profiler would give detailed information like this:
![image](https://user-images.githubusercontent.com/1381701/191357700-092aa6a2-0e61-40ea-8a90-7cd1ff74ebe6.png)

[2022-09-21 03:11] errael commented on #4651
There's `userdir/config/Services/Platforms/org-netbeans-api-java-Platform/Zulu_18.0.2.1_1.xml` which is full of data even though it should be considered invalid, consider the ERROR color in the `Java Platforms` dialog because it can't file the file, didn't see where things got set to red. Looks like the  In the log there's
[code]
In `J2SEPlatformImpl` there's `getJ2SEPlatformDefaultSources` which

[2022-09-21 04:42] errael commented on #4651
Nuking the data might work, but I don't like the idea. If the Platform is an object, it should have an `isValid()` method. And something around hints/parser should be checking it.

[2022-09-21 07:12] kresoSusec commented on #4650
can you please make tutorial with steps in details what i need to do.
For example:
1. click on this,.
2. now klick here, etc.
I really like the ide, and i want to fix this problem.
I don't have any idea how to get information's you need to solve the problem.
I will do what i need to do , but i need your help to do that.,So please write some instructions.
Thanks

[2022-09-21 07:14] Minekonst commented on #3962
`-J-DTopSecurityManager.disable=true` does not work for me at all, when I am using this option I cannot use the clipoard anywhere outside netbeans. `-J-Dnetbeans.slow.system.clipboard.hack=false` does work for me, if not combined with  `-J-DTopSecurityManager.disable=true`. Still, I have to recopy text in netbeans to paste it somewhere else.

Besides, using the clipboard history, as mentioned by @

[2022-09-21 07:31] epliskin commented on #3962
An hour ago I configured netbeans.conf with (-J-DTopSecurityManager.disable=true -J-Dorg.netbeans.NbClipboard.level=FINEST) and started NetBeans 15 with JDK 17. Clipboard works as yet fine between NetBeans and other Windows programs. At this time I do not edit any code eagerly but will report here in coming days or weeks if and when NetBeans clipboard freezes again...

[2022-09-21 08:21] neilcsmith-net commented on #3720
That the issue remains if the explicit `final` is in, makes me think that might be a separate issue.  Have tracked to where I think it's removed at https://github.com/apache/netbeans/blob/master/java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java#L4713 The call to `accept()` rejects the `SEMICOLON` token.  Not had a chance to look deeper into that.

[2022-09-21 08:50] hrotkogabor commented on #4470
I have the same problem, and I have a sample project.

### Apache NetBeans version
Apache NetBeans 15

### What happened
With the sample project, the ide will not freeze, but with a larger project, it will freeze.

### How to reproduce
The problem appears when I have the following code, I already have import java.util.List; , and click the hint: Add import java.util.ArrayList :
List<String> myList

[2022-09-21 08:50] pedro-w opened #4667 "Navigate Hierarchy doesn't work (for class in try-with-resources block)"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The Navigate | Inspect | Hierarchy menu (aka shift-alt-F12) does not always work. It seems to fail when the class under the cursor is in a `try()` block - it shows the hierarchy of the enclosing class instead.

### How to reproduce

Make a Java ant project with the following source

[code]
Move cursor to the `BufferedWriter` text

[2022-09-21 08:54] pedro-w commented on #4667
IDE log attached

[ide-log.log](https://github.com/apache/netbeans/files/9614892/ide-log.log)

[2022-09-21 08:58] pedro-w commented on #4667
Note that it does work if the cursor is on the text `writer` on line 11 or line 12.

[2022-09-21 09:18] incognitoTheta opened #4668 "Error when trying to add lambda arrow into Collectors.mapping method"
### Apache NetBeans version

Apache NetBeans 15

### What happened

[code]

For this particular code, everytime I add the lambda arrow into Collectors.mapping method I receive this Netbeans error:

UnexpectedException details:

[code]

### How to reproduce
[code]

To reproduce the error just add ">" after "-" in mapping argument

### Did this work correctly in an earlier version?

No / Don't know

[2022-09-21 12:15] epliskin opened #4669 "NetBeans output build panel distorts UTF-8 Java file names"
### Apache NetBeans version

Apache NetBeans 15

### What happened

My Maven Java project includes some classes with non-ascii names. Suppose I place some error in one of this files and start build in IDE. Then NetBeans console displays error messages with distorted file names. Messages look like what you can see opening UTF-8 text file with wrong "windows-1251" encoding.

The Maven log in separat

[2022-09-21 12:24] neilcsmith-net commented on #4669
Can you try setting `sun.stdout.encoding=UTF-8` (or from JDK 19  `stdout.encoding=UTF-8`) instead. See also #4396 and https://bugs.openjdk.org/browse/JDK-8284778

[2022-09-21 12:37] epliskin commented on #4669
Confirm the problem resolved by adding "-J-Dsun.stdout.encoding=UTF-8" clause to the "netbeans_default_options" key in "netbeans.conf" file. Thank you!

[2022-09-21 12:44] neilcsmith-net commented on #4669
Thanks for the confirmation.  Glad to know it's working for you.

[2022-09-21 12:44] #4669 closed

[2022-09-21 12:47] neilcsmith-net commented on #4667
Confirmed.  Try adding `final` before the `BufferedWriter` - does that also fix it for you?

[2022-09-21 13:22] pedro-w commented on #4667
Yes, it does.
Unfortunately I don't have any previous installations so I can't say if other versions are affected.

[2022-09-21 13:57] adamoutler commented on #3720
This works, but causes CheckStyle to report a different problem.
`(modifier) RedundantModifier: Redundant 'final' modifier`

I'm eagerly awaiting NB16!

[2022-09-21 14:02] neilcsmith-net commented on #3720
@adamoutler that was really meant as a demonstration of what's happening, not as a workaround.

[2022-09-21 14:08] adamoutler commented on #3720
Yes.  I can't help but try it.   However, as you mentioned, the aforementioned fix offloads the problem to explicitly declared `final` modifier.  Since the `final` modifier is implicit, a Line Warning could be used to discourage the use of declaring an explicit final when it is already implicit.  I think a Line Warning would wrap it up neatly.

[2022-09-21 17:50] errael commented on #4651
So in java/java.platform/.../JavaPlatform, there's already
[code]
So it's down to finding what is using an invalid JavaPlatform.

[2022-09-21 18:26] errael commented on #4651
Fixed by #4672

[2022-09-21 21:36] decadX opened #4673 "Netbeans 15 - Clicking on "Open project..." hangs for long time"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When I click on "Open project..." the ide hangs.
![image](https://user-images.githubusercontent.com/3636432/191615020-62605ab4-45b2-48ad-9551-53d05a641b07.png)

![image](https://user-images.githubusercontent.com/3636432/191614060-b4570e60-7093-4af3-9cea-93dc3596e452.png)

### How to reproduce

Connect to a Private network (vpn)
Cr

[2022-09-22 03:37] lkishalmi commented on #4673
Well, Onedrive is known to affect file IO performance. Opening a project is quite IO intensive. I won't work with project on Network/Virtual drives Use other tools like version control systems to keep your work in sync.

It is also important to know what kind of projects are you talking about.

NetBeans 12.6 is kind of old, it also does not support Java 18, try to upgrade to NetBeans 15.

[2022-09-22 03:55] lkishalmi commented on #4650
This is how you take a performance snapshot.

https://user-images.githubusercontent.com/1381701/191654781-25259278-23ae-4938-9305-bc8c4fad6522.mp4

[2022-09-22 07:33] decadX commented on #4673
Hello @lkishalmi this isn't about opening an individual project and how long it takes, this is when you try to open the File Explorer dialog where you store your projects.
![image](https://user-images.githubusercontent.com/3636432/191684299-1ec46479-b3ec-40ff-9179-67e524a3c8c5.png)

That dialog popup is what hangs. The screenshot is from Netbeans 15, on a 8-core, 64gb/SSD desktop PC.
Each project'

[2022-09-22 10:19] #3720 closed

[2022-09-22 10:27] neilcsmith-net commented on #4668
Please attach that file to the bug report, thanks.

It's not reproducible here.  Is this a clean install, or have you imported settings from a previous version?  What build system?  Can you attach a simple project that fails for you with this error to the report as well?

[2022-09-22 11:20] neilcsmith-net commented on #4667
Verified that `TreeUtilities` is returning `final` rather than `BufferedWriter` as the element at that position due to the overlapping positions discussed in #4648

I assume this might be fixed by upstream fix in https://bugs.openjdk.org/browse/JDK-8293897  However, that's unlikely to reach us until NB 18.  @jlahoda any thoughts?

[2022-09-22 14:10] Markus-Elfring opened #4674 "Support for copying information from notifications"
### Description

I can get notified about various items by the development environment.

### Use case/motivation

I would like to be able to copy information from selected notifications.
Details from warnings and error messages should be copyable also within the window “Notifications”.

### Related issues

_No response_

### Are you willing to submit a pull request?

No

### Code of Conduct

Yes

[2022-09-22 14:16] blakemcbride opened #4675 "Can't set Groovy breakpoint in forEach"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When debugging Groovy code, in general, I can set breakpoints.  However, I cannot set a breakpoint inside a forEach block.  See the attached image.
![Screenshot at 2022-09-22 09-10-37](https://user-images.githubusercontent.com/6467584/191771461-fca76a82-b537-47e2-afb7-6f22067a7a69.png)

### How to reproduce

_No response_

### Did

[2022-09-22 14:26] lkishalmi commented on #4673
Then most probably it is a known issue that the File dialog is slow when there are broken links. If I remember well: broken links on your Desktop. That might be a Java bug. As myself is not a Windows user for 18 years, I can't really tell more.

[2022-09-22 14:44] Markus-Elfring commented on #4674
I was notfified about a special warning by the development environment “NetBeans 15”.
:thought_balloon: The corresponding internet search found some hints for further considerations.
How would you like to [handle the information “Removal of `compile` and `runtime` configurations”](https://docs.gradle.org/7.0/userguide/upgrading_version_6.html#sec:configuration_removal "Upgrading your build from Gr

[2022-09-22 14:53] johny65 commented on #4216
It would be nice if the paragraph sign could be enabled/disabled, because it is really annoying when showing the non-printable characters. I want to see the spaces/tabs but not the line breaks (like VS Code).

It would be better if all the non-printable characters to show are customizable.

[2022-09-22 15:49] maerevoet-wim opened #4676 "Gradle : gradle.properties on [root] : Changes are not detected"
### Apache NetBeans version

Apache NetBeans 15

### What happened

We have a gradle main project with subprojects. Some sub projects have an extra source set which is defined based on a property set in gradle.properties in the root folder.

In Netbeans 14, if we changed the gradle.properties file, Netbeans detected the change and reloaded all the required sub projects.
In Netbeans 15 , this doesn

[2022-09-22 16:15] rivenbarkc opened #4677 "GlassFish JMS Resource Types"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I am using NetBeans 15 with Eclipse GlassFish 6.2.5 and Jakarta EE 9.  When I create a web application and add a GlassFish JMS Resource, the only available Resource Types are javax.jms and jakarta.jms is not available.  Thus the deployment fails because the Glassish server is looking for the jakarta.jms types.

### How to reproduc

[2022-09-22 16:17] rivenbarkc commented on #4677
GlassFish error is as follows:
org.glassfish.deployment.common.DeploymentException: jakarta.resource.ResourceException: jakarta.resource.ResourceException: Invalid Resource Type: javax.jms.Queue

[2022-09-22 16:30] hink084 commented on #4673
@decadX I've had the same problem. It occurs when opening any File Explorer dialog within NetBeans.  I think what @lkishalmi is suggesting is to remove' any broken shortcuts (Windows: "Shortcuts", Linux: "Soft Links") from your desktop.  This would include any shortcuts that may point to a location on a disconnected network share drive (ie when you're not connected to your VPN).  This worked for m

[2022-09-22 19:13] #4629 closed

[2022-09-22 19:17] #4651 closed

[2022-09-23 00:22] kresoSusec commented on #4650
In my case when i stop self Profile i receive a message about

![slika1](https://user-images.githubusercontent.com/113850461/191872468-9f4cf5b7-148d-4988-b465-63560f87e087.png)

![slika2](https://user-images.githubusercontent.com/113850461/191872472-40406a46-2d35-4704-9f01-b8428fe26d1f.png)

Here is selfsampler3471503817174232889.npss file, maybe you can decode it

https://app.box.com/s/npoztpbfhq

[2022-09-23 05:34] lkishalmi commented on #4650
You need to have the Java functionality enabled to be able to load the file:
![image](https://user-images.githubusercontent.com/1381701/191896713-0d5101bc-b2a0-4009-b903-5e517d2e820e.png)

From here it seems the IDE spend the most time doing something with native support of accessibility. Maybe screen reader, virtual keyboard or something like that.

I've seen this, the sympthom look similar, thou

[2022-09-23 05:35] incognitoTheta commented on #4668
[DownstreamCollecting2_59.zip](https://github.com/apache/netbeans/files/9630873/DownstreamCollecting2_59.zip)

I imported the settings from previous versions (14,13,12,11...if I remember right)

![netbeans error](https://user-images.githubusercontent.com/54666517/191897286-29e44ac8-959d-4f83-9681-a7b1bb2dee47.png)

[test-local-app.zip](https://github.com/apache/netbeans/files/9630918/test-local-ap

[2022-09-23 08:44] Harraxel opened #4679 "Cannot perform show javadoc with a JDK 1.8 platform"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Cannot perform Javadoc on the core java libraries when using JDK 1.8 as the Java Platform to compile.
When switching to a more recent JDK (e.g. 14), no problem.
The URL in the The Java Platform Manager is https://docs.oracle.com/javase/8/docs/api/

### How to reproduce

- Create a new Gradle Project
- Perform Alt+F1 with the curso

[2022-09-23 11:44] maerevoet-wim commented on #4676
Additional information / Workaround
If I disable
Tools - Options - Java - Gradle - Experimental - Performance : Use On-disk cache , the change detection works again.

And I think the problem initially started after changing git branches.

[2022-09-23 11:45] rmrfchik commented on #4642
Curiouser and curiouser. I was UNABLE to reproduce case on fresh installation and start digging.
On failing installation (notebook), I have a number of project opened. When I close all projects except with failed case, all start works fine. When I open particular project (not related to that failed), I cannot find usages any more.
The culprit project is java fx stab.
Having this project opened pre

[2022-09-23 13:27] duoduobingbing commented on #3962
I wanted to thoroughly test before writing that this and that option definetely works or does not work; but here are my results after running with some options for a longer time:
* `netbeans.slow.system.clipboard.hack=false`: The bug seemed to occur less frequently but it still occured.
* `netbeans.slow.system.clipboard.hack=false` and `org.netbeans.NbClipboard.level=FINEST`: Seems to fix the issu

[2022-09-23 20:38] lkishalmi commented on #4676
Interesting. Thank you!

[2022-09-24 20:04] mbastian opened #4680 "Extend ColorEditor"
### Description

The `org.netbeans.beaninfo.editors.ColorEditor` class does not support the alpha channel. This `PropertyEditor` is used in various places.

The color chooser UI allows to set the transparency but then it's ignored.
<img width="697" alt="Screenshot 2022-09-24 at 21 59 51" src="https://user-images.githubusercontent.com/234813/192116357-924e5035-753d-47dd-a380-04b9e3bcfcc5.png">

Do

[2022-09-24 22:32] negora commented on #4515
Same problem here.

I'm using Debian 11 (Bullseye) GNU/Linux and OpenJDK Runtime Environment (build 17.0.4+8-Debian-1deb11u1).

[2022-09-25 09:51] Yaytay commented on #4513
@ebarboni That seems to work.

[2022-09-25 14:44] terax6669 opened #4683 "[PHP] No IDE hint for promoted properties with @mixin"
### Apache NetBeans version

Apache NetBeans 15

### What happened

NetBeans fails to provide hints for promoted properties in a child property when introduced via `@mixin`.
![image](https://user-images.githubusercontent.com/19204073/192149508-795a5244-1f09-4067-8c53-e98e1bf755e2.png)

### How to reproduce

[code]

### Did this work correctly in an earlier version?

No / Don't know

### Operating

[2022-09-25 14:55] terax6669 opened #4684 "[PHP] Parser syntax error - accessing a const array value"
### Apache NetBeans version

Apache NetBeans 15

### What happened

![image](https://user-images.githubusercontent.com/19204073/192149986-01daa5c7-37f9-48c0-a36d-536827081c49.png)

### How to reproduce

[code]

### Did this work correctly in an earlier version?

No / Don't know

### Operating System

Windows 11 Pro 22000.978

### JDK

OpenJDK 19.0.0 (from Chocolatey)

### Apache NetBeans packaging

[2022-09-25 15:49] terax6669 commented on #4641
Actually both PSR-2 and PSR-12 say the same thing, but phrased differently.
#### PSR-2

#### PSR-12

While I strongly agree, that this is something that IDE should allow us to control, there's actually a plugin by one of the PHP maintainers for netbeans that solves this isssue.
https://github.com/junichi11/netbeans-nonewline-resolver

[2022-09-25 15:52] terax6669 opened #4685 "[PHP] Implement full PSR and use by default"
### Description

Some things that I noticed, but I'm sure there are more:

* Formatting rules for PHP should adhere to PSR by default
* Formatting rules in the Blank Lines category seem to be impossible to adhere to PSR. Example with traits - according to [PSR](https://www.php-fig.org/psr/psr-12/#42-using-traits) traits should be the first thin inside a class. We have `Before Use Trait` but not `A

[2022-09-25 16:45] terax6669 opened #4686 "[PHP] Inheriting docs is broken"
### Apache NetBeans version

Apache NetBeans 15

### What happened

NetBeans doesn't inherit docs for class properties, see example below.

### How to reproduce

[code]

### Did this work correctly in an earlier version?

No / Don't know

### Operating System

Windows 11 Pro 22000.978

### JDK

OpenJDK 19.0.0 (from Chocolatey)

### Apache NetBeans packaging

Apache NetBeans provided installer

###

[2022-09-26 01:30] 652436962 commented on #4660
this is ok in netbean14  and  i'd  add in 14 is ok
netbean 15  add cross compile  is no  such file or dirctory

[2022-09-26 04:41] quantrpeter opened #4688 "Unable to set watch for variable"
### Apache NetBeans version

Apache NetBeans 15

### What happened

using netbeans 15 with jdk 18 in windows 11, unable to set watch for variable, the "variable" window popup but nothing in there

### How to reproduce

highlight variable, right click editor, new watch

<img width="1569" alt="Screenshot_6" src="https://user-images.githubusercontent.com/50471577/192195125-7cf24883-030c-4645-8b04-7a4

[2022-09-26 08:44] kasoft opened #4690 "Navigate > Go To Declaration not working on PHP Projects anymore (Apple M1)"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I ofte use the Function "Go to Declaration" or the Shortcut Command B to jump to a Class or Function. This is not working anymore in my Projects. I already deleted the cache in Library/Cache but with no effect. i tried to search for more information but didn't found any clues or help on this topic.

### How to reproduce

In my cas

[2022-09-26 10:11] kasoft opened #4691 "Search not working recursive anymore"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I click in Projects right and select "Find..." to search my project. There are only results, if the searched Word (e.g. "@sass-dart") occures in a File that is directly under the clicked folder. When i click my root Folder or a higher nested Folder there will be no result.

Example Structure: Source Files > project > common > mode

[2022-09-26 14:57] #4690 closed

[2022-09-26 14:59] kasoft commented on #4691
After some more trying and some luck i found out. The Problem is solved with

Java: 1.8.0_341; Java HotSpot(TM) 64-Bit Server VM 25.341-b10
Runtime: Java(TM) SE Runtime Environment 1.8.0_341-b10

[2022-09-26 14:59] #4691 closed

[2022-09-26 20:53] lkishalmi commented on #4688
Can't reproduce. Probably the Variables window was not able to be initialized. Any Exceptions in the IDE log?

[2022-09-26 20:54] lkishalmi commented on #4650
@kresoSusec is there any progress on this one?

[2022-09-26 21:41] JSantamania opened #4693 "jdk 17 can´t run on NetBeans IDE 12"
### Apache NetBeans version

Apache NetBeans latest daily build

### What happened

I´m using netbeans IDE 12.
Was using jdk 14 but some problem need --enable:preview a jar doesn´t run on other version of jdk
I´ved installed jdk 17 and it produce good jar than can run on other machines. But NetBeans' run command doesn´t run neither debug command.

### How to reproduce

Install NetBeans
Install jdk

[2022-09-26 23:08] lkishalmi commented on #4693
Well, NetBeans 12, will never support Java 17. Try to use NetBeans 15.

Also try to describe in more details what is your problem along with `--enable-preview`, note, that it is `--enable-preview` not `--enable:preview`!

I could not reproduce this behavior with `--enable-preview` and NetBeans 15, with JDK 17 using an Ant based project.

[2022-09-27 03:21] zeleznypa commented on #4616
@mbien It is a possible way, but not so „ergonomic“, because there is no possibility to do that by keyboard shortcut.

[2022-09-27 05:46] JSantamania commented on #4693
Thanks, I'll true NerBeans 15
Regards

Jesús
________________________________
From: Laszlo Kishalmi ***@***.***>
Sent: Tuesday, September 27, 2022 1:09:01 AM
To: apache/netbeans ***@***.***>
Cc: JSantamania ***@***.***>; Author ***@***.***>
Subject: Re: [apache/netbeans] jdk 17 can´t run on NetBeans IDE 12 (Issue #4693)

Well, NetBeans 12, will never support Java 17. Try to use NetBeans 15.

Also

[2022-09-27 06:38] mbien commented on #4515
@llakazs @negora @OnyxianSoul are any "on save" actions enabled (Options -> Editor -> On Save)?

[2022-09-27 07:19] llakazs commented on #4515
Yes, remove unused imports is on.
I turned off organize imports a few months ago. The bug appeared before and after that too, so it probably does not affect it.

[2022-09-27 08:30] negora commented on #4515
In my case I've enabled the following options (for Java files):

* Remove trailing white space from: all lines.
* Remove unused imports.
* Organize imports.

I can try to disable some options. However, I think that the *bug* appears before saving: as soon as there is certain type of error, the code loses highlighting and you know, beforehand, that the save will freeze the IDE.

One type of error t

[2022-09-27 09:23] JSantamania commented on #4693
Thanks,  jdk17 with NetBeans 15 work fine.

Regards,

De: Laszlo Kishalmi ***@***.***>
Enviado el: martes, 27 de septiembre de 2022 1:09
Para: apache/netbeans ***@***.***>
CC: JSantamania ***@***.***>; Author ***@***.***>
Asunto: Re: [apache/netbeans] jdk 17 can´t run on NetBeans IDE 12 (Issue #4693)

Well, NetBeans 12, will never support Java 17. Try to use NetBeans 15.

Also try to describe in m

[2022-09-27 23:14] Eugene-Melbourne commented on #4641
"a non-blank line, terminated with a single LF" looks like this:

"files MUST end with a single blank line" would be:

**Thank you for the plugin. It is working**

[2022-09-28 05:17] #4693 closed

[2022-09-28 05:19] #4650 closed

[2022-09-28 08:56] ebarboni commented on #4640
Hi, would it be possible to scroll to the right and see if the + button are full right ?

[2022-09-28 12:27] techexplorer0310 opened #4697 "Apache Lucene 3.6.2 critical vulnerability issue - CVE-2017-12629"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Hi,

We are using netbeans 13 and security scanner has identified critical vulnerability issue https://nvd.nist.gov/vuln/detail/CVE-2017-12629

reported against usage of Apache Lucene version 3.6.2. Have downloaded netbeans 15 as well but that also has same version being used.

Or please advise any work arounds and possibility for

[2022-09-28 13:07] jhuber1965 commented on #4640
That seems to be the problem.  Scrolling over or expanding the window reveals the + buttons.
![NB3](https://user-images.githubusercontent.com/56321288/192786459-ea71e719-2f73-492b-a1e5-4cfa66d3801b.png)

[2022-09-28 13:58] snelliga opened #4698 "Project marked as unloadable but will compile using command line mvn"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I upgraded to netbeans 15, changed from SVN to GIT, and imported modified sources from a third party.
We are using the freeware version of Mule and all the Mule projects are flagged as [unloadable].
Opening the pom, the pom does not flag any lines in error.
if attempt to build from command line, it works.
Netbeans is configured to

[2022-09-28 18:59] mbien commented on #4680
sounds useful, let me know if you need help or a PR review

[2022-09-28 19:14] mbien commented on #4697
NB is using lucene 6.x for everything maven related. But we should update the remaining modules too which still use old lucene.

[2022-09-28 20:11] namedgraph opened #4700 "NetBeans profiler agent crashes OpenJDK 17"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I've generated a remote profiler pack (`Setup Attach to Process...`) and mounted it into an OpenJDK 17 based Docker container ([Dockerfile](https://github.com/AtomGraph/fuseki-docker/blob/master/Dockerfile)), using the path from the example:
[code]
After that the JDK in the container fails to start:
[code]

### How to reproduce

M

[2022-09-29 13:50] bernard01 opened #4701 "NPE at startup Maven indexer"
### Apache NetBeans version

Apache NetBeans 15

### What happened

On startup an exception occurred
[messages.log](https://github.com/apache/netbeans/files/9675201/messages.log)
[code]

### How to reproduce

Startup

### Did this work correctly in an earlier version?

No / Don't know

### Operating System

Windows 7

### JDK

Java 14

### Apache NetBeans packaging

Apache NetBeans provided instal

[2022-09-29 21:58] errael opened #4702 "Gradle build actions NPE and visually inaccurate state"
### Apache NetBeans version

Apache NetBeans 15

### What happened

NPE and inconsistent visual state

### How to reproduce

gradle projects are created with NewProject > JavaWithGradle > JavaClassLibrary

Get to this dialog with `GradleProject > properties > Build > BuildActions`

First note that although nothing is selected in the `ConfiguredActions` list, both the Disable and Reset buttons are

[2022-09-29 22:05] errael commented on #4702
Fix for the NPE in #4703 .

@lkishalmi , @sdedic  Since I'm not sure what is proper behavior... Even the NPE fix could be handled differently by coming up with "nothing selected".

[2022-09-29 22:12] errael opened #4704 "Gradle setting wrong NetBeans jdk version"
### Apache NetBeans version

Apache NetBeans 15

### What happened

![11-18](https://user-images.githubusercontent.com/20450427/193150941-b82e9b94-f47e-4c15-91ee-cd302af7cea3.png)

This issue probably originates from some gradle behavior. Gradle 6.8.x limits sourceCompatibility and targetCompatibility to 18; using compilerArgs bigger numbers can be passed to the compiler.

Looking at the attached

[2022-09-29 22:13] errael commented on #4704
@lkishalmi, perhaps you have some insight into this. I have no idea how gradle tooling informs the IDE of the source version.

[2022-09-30 03:29] mbien commented on #4701
I'll take a look. Could it be that you don't have any space left on your C drive?

[2022-09-30 04:58] mbien commented on #4054
can be reproduced with a short snippet:
[code]
paste this into a java file and save while having "Organize Imports" on save enabled.

it will then enter an endless while-loop in (set breakpoint to that line to safely reproduce):

[code]

[2022-09-30 05:00] mbien commented on #4515
ok thanks for the info. going to close this issue as duplicate of #4054 since it has a reproducer there.

[2022-09-30 05:00] #4515 closed

[2022-09-30 06:22] mbien commented on #4054
@jlahoda could you take a look at this? A reproducer is in the comment above this one.

Should all return statements which leave the task, also increment the `currentPointer` counter?

something this would break the infinite loop:
[code]

[2022-09-30 06:47] hmlnarik opened #4706 "Custom maven parameters"
Type: <b>Feature Request</b>

Thank you for providing NBLS VSCode extension!

When I run a test or compile a module, I would like to have ability to add custom Maven options to the executed `mvn` command, e.g. `-nsu`. Is it possible in any way / would it be possible to add this feature?

Extension version: 15.0.0
VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21

[2022-09-30 07:53] scsynergy opened #4707 "Resolving a conflict during git rebase does not work"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When I resolve a conflict during a git rebase Netbeans "gets stuck" in the rebasing phase:
I cannot switch the branch, error message: "Cannot checkout in the current repository state: Rebasing".
I can only commit to the detached branch.
I need to abort the rebase on the command line and instead do a git merge.

### How to reproduc

[2022-09-30 09:46] aldobrucale opened #4708 "Move members broken"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The "Move Members" refactoring is broken since a few versions. The "To Class" field is not being populated, so it is impossible to move members.

### How to reproduce

In a Java project with at least two classes, select a method and hit ctrl+m. The "To Class" item is empty.

### Did this work correctly in an earlier version?

Apac

[2022-09-30 11:50] ebarboni commented on #4708
Hi, do you have exception in the log ?

[2022-09-30 12:39] #4701 closed

[2022-09-30 16:49] neilcsmith-net commented on #4704
Have you tried a daily build?  NetBeans 15 only supports up to Java 18 anyway.

[2022-09-30 18:07] lkishalmi commented on #4704
Well, we ask Gradle what is the source/target java version on each source set. We do not really analyze the command line options. It is merely reported back to the IDE (which uses that to detect `--enable-preview`)

Gradle 7.5 officially supports Java up to version 18 as a runtime.

[2022-09-30 18:39] errael commented on #4704
(ahhhh, and I was just getting ready to test it on a dev build)

That's not really the issue. And I have some projects that use gradle 6.8.3. I have code, "switch pattern matching with case when", in a grail built project that compiles from NetBeans. I'm using frgaal.

You confirm that with NB-16 the wrong jdk version will be given to the nbjavac/editor.

Would you entertain a patch that if it fin

[2022-09-30 20:09] lkishalmi commented on #4704
Well, I'd leave the fun of creating a patch for you. I'm occupied elsewhere.

https://github.com/apache/netbeans/blob/62a9953d4d5e27dc4b530b72e08d934c7098c59d/java/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaSourceSet.java#L137
the corresponding compiler args are also available in this class.

On Fri, Sep 30, 2022 at 11:39 AM errael ***@***.***> wrote:

[2022-10-01 06:41] negora opened #4709 "Warning about unused variable disappears when adding private nested record"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I've a method whose body contains an unused variable. NetBeans reports about this issue right. However, if I add a `private` nested `record` to my class, then the warning disappears. By *disappears* I mean that is not detected as a proper warning anymore:

* The light bulb isn't shown in the left margin of the editor.

* The yello

[2022-10-01 07:06] kresoSusec commented on #4650
Nothing new. Thanks for cooperation on this  problem Ikishalmi. I hope next version of net Beans will not have that problem.

[2022-10-01 09:37] #4646 closed

[2022-10-01 10:37] mbien commented on #4709
I just checked and it is also reproducible in NB 14. So its not a recent regression.

[2022-10-01 10:49] mbien commented on #4708
can reproduce
[code]

[2022-10-01 10:52] mbien commented on #4698
any exceptions in the log?

[2022-10-01 10:59] neilcsmith-net commented on #4698
You say that the default JDK is JDK 11 and that you're running NetBeans under JDK 1.8.  Default JDK where?  Note that NetBeans does not officially support running on JDK 8 any more, and some things may be missing, although it's unlikely the cause of this.

Curious that the shared file has a parent POM called `Pom.xml` - wonder if that's causing an issue?

[2022-10-01 11:10] mbien commented on #4652
same exception was reported in #3958, I knew i saw that one before :)

[2022-10-01 14:50] negora commented on #4709
@mbien I just tried in NetBeans IDE 13, and it works OK. So whatever that causes this error appeared between versions 13 and 14. Thank you.

[2022-10-01 15:26] negora commented on #4709
I've found another case, similar to the previous one, in which the visibility of a class member affects the result of this type of check. However, this time it affects a method parameter instead of a local variable. Look at this:

[code]

Now, if you change the visibility of the method from `public` to `private`, NetBeans correctly detects that `myParameter` is not used at all in the body of the m

[2022-10-01 16:17] fredericch opened #4710 "Add a "Close Right" in menu"
### Description

Add a "Close Right" function on the menu along "Close", "Close All" and "Close Other".

When at least 2 files have been opened, we could close all windows on the right of the current active one.

![image](https://user-images.githubusercontent.com/11049456/193430514-3cc97024-2c50-4000-a2ee-6c99fad7b78b.png)

It would be the same implementation as in Chrome or FF.

### Use case/moti

[2022-10-01 16:48] lkishalmi commented on #4650
Well it is surely not a NetBeans issue, So we can't fix it. It is related to the assistive technologies in use, and maybe the price you are using them has to be paid by CPU cycles.

[2022-10-01 18:32] BrianHCombes opened #4712 "CSS class not found (editor warning) - but class rule is defined and present"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Get warnings about CSS "class not found" when building and editing HTML files.

This warning shows with both local rule definition in the header or imported from separate CSS style sheet file.

Able to turn off in the HTML Language (Hints) settings but purpose of this feature is than defeated.

Should not get warning except when C

[2022-10-01 18:43] fredericch opened #4713 "Add a "Collapse" in the "folder name" right-click menu"
### Description

This function would collapse recursively the tree structure under the selected folder. It would be implemented in the "Projects" and "Files" window views.

### Use case/motivation

The issue today is that the only function available is "Collapse All".

Sometimes I need to collapse recursively specific folders but not the parts I am currently working on.

### Related issues

_No re

[2022-10-01 19:37] errael commented on #4652
Huh. My network setup is vanilla; no proxy stuff. Comcast->cable-modem->NetGear router/wifi.

[2022-10-01 21:00] mossaab0 commented on #4261
I'm facing this issue (on Windows 11) in NB14 and NB15. I've tried JDK17 and JDK19 with no success.
NB13 works just fine.

[2022-10-01 22:13] mbien commented on #4652
null is actually a valid return value:
https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/net/URLConnection.html#getContentType()
so the JDK should probably check for that (haven't looked at the code yet since the source I am looking at doesn't match the line numbers :P).

It could still be invalid input which ends up throwing the internal NPE. Figuring out what the actual URL is wh

[2022-10-01 22:16] blakemcbride opened #4715 "Debugging Groovy incorrect"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I am debugging a Groovy program.  Once a breakpoint is hit, I am using "Step Over" to step through the lines.  The debugger is going to lines that it should not.

For example, I hit a breakpoint at the following point:

![Pic1](https://user-images.githubusercontent.com/6467584/193430149-8451d37e-4091-47a0-bbfb-7a45a9fd5880.png)

A

[2022-10-01 22:57] duoduobingbing commented on #4261
@mossaab0 If you run Netbeans 15 with JDK19+, you will need to add `-Dstdout.encoding=utf-8`; with JDK18 you will need to add `-Dsun.stdout.encoding=utf-8` as `native.encoding` is not settable.

[2022-10-02 00:12] errael commented on #4652
Maybe it was fixed. I happened all the time with JDK-11, and never with JDK-17. The other report you site was also jdk-11.

[2022-10-02 01:32] errael commented on #4702
@mbien , can this be reopened? The "NPE" is fixed but the "visually inaccurate state" is pending; need some feedback on what is proper behavior. The opening comment outlines some inconsistencies in the dialog, and I'm not sure what it's supposed to do.

[2022-10-02 01:33] mbien commented on #4702
sure

[2022-10-02 01:57] TimHofheins opened #4718 "Getting error "One of Run/Debug/Profile Project actions has been modified and the Run panel cannot be safely edited""
### Apache NetBeans version

Apache NetBeans 15

### What happened

I am running the FXML JavaFX Maven Archetype (Gluon) example project. It runs successfully under Netbeans. But when I do a Clean and Build on the project and run: java -jar mavenproject1-1.0-SNAPSHOT.jar I get the error "no main manifest attribute, in mavenproject1-1.0-SNAPSHOT.jar".

If I look at the mavenproject1 properties unde

[2022-10-02 02:34] mossaab0 commented on #4261
That helped. Thanks, @duoduobingbing!

[2022-10-02 04:33] mbien commented on #4710
makes sense. Added [good first issue](https://github.com/apache/netbeans/labels/good%20first%20issue) label in case someone wants to implement it.

I just checked how FF solved this and it has `Close Tabs to Left`, `.. Right` and `Close Other Tabs` in a sub menu.

NetBeans however also supports multi row tabs which would make this a bit more difficult to implement.

[2022-10-02 04:43] mbien commented on #4713
Not sure if I understand this. You want to close all nodes except those of the files you have currently open?

i usually just use collapse-all and then press ctrl+shift+1/2/3 to open the tree in projects/files/favorites for the active editor tab I am  currently interested in.

[2022-10-02 17:13] merscwog opened #4720 "Custom gradle test sourcesets not supported when running tests"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Netbeans 15 properly detects all gradle test sourcesets and code within them, but when attempting to run or debug any tests other than those within the default test sourceset ("test"), they fail, because currently the run/debug actions are hard coded to the cleanTest and test tasks, when it should be clean[NameOfTestSourceSet] and

[2022-10-02 18:59] jlahoda commented on #4054
Hm - I don't incrementing the pointer when toPhase does not reach the expected phase is correct - that would might mean the given file won't be run again. We may need to add some trick to detect an exception from javac and skip the file - here, and also in JavacParser. Trying to look into that. (Not to speak about the need to actually fix the exception.)

[2022-10-02 20:32] marcorobiati opened #4722 "Maven super POM properties took from bundled version if another is specified in settings"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Opening a project POM, under "Effective" tab, complete POM is showed, so properties from superPOM too. Problem is those properties are always from the bundled version (C:/Program Files/NetBeans-15/netbeans/java/maven/lib/maven-model-builder-3.8.6.jar!/org/apache/maven/model/pom-4.0.0.xml), even if in Tools -> Options -> Java -> Ma

[2022-10-03 00:12] errael opened #4724 "refactor rename record field does partial change and syntax error, or NPE"
### Apache NetBeans version

Apache NetBeans latest daily build

### What happened

Refactor field name in record declaration, got syntax error in file. Similar situation produces an NPE, see below.

### How to reproduce

In the following source code, with the caret on the field named `string` in the record `ClipData, refactor rename. The field name gets changed where it's referenced, but not in t

[2022-10-03 00:16] errael commented on #4724
The SourceLevel is `19`.

[2022-10-03 02:25] mbien commented on #4713
I see. Like `Collapse All`, but `Collapse` is just for the selected sub-tree, accessible via context menu.

[2022-10-03 02:38] mbien commented on #4724
yeah this is likely related to #4257, the editor thinks those are not the same fields for some reason - if you rename one, the other isn't renamed.

You can see this already by putting the cursor over the field. It doesn't highlight the other one.

[2022-10-03 05:45] junichi11 commented on #4632
Well, we support only the syntax of the latest version.
We would like to avoid adding parsers for each PHP version.
If we add them, we must add all unit tests for each parser. (we have so many unit tests.) We don't want to do that.

Sooner or later, you have to change the class name in the future...

[2022-10-03 05:49] junichi11 commented on #4494
Could you please provide an example code to reproduce it?

[2022-10-03 05:56] junichi11 opened #4725 "PHP 8.2 Support"
### Description

Support for PHP 8.2

https://wiki.php.net/rfc#php_82

- [x] https://wiki.php.net/rfc/null-false-standalone-types
(#4888)
- [x] https://wiki.php.net/rfc/true-type
(#4888)
- [x] https://wiki.php.net/rfc/readonly_classes
(#4955)
- [x] https://wiki.php.net/rfc/constants_in_traits
(#5302)
- [x] https://wiki.php.net/rfc/fetch_property_in_const_expressions
(#4966)
- [x] https://wiki.php.

[2022-10-03 06:01] junichi11 commented on #4684
Reproducible. Thanks!

[2022-10-03 06:08] junichi11 commented on #4635
Reproducible. Thanks!

[2022-10-03 10:44] Chris2011 commented on #4712
Unfortunately I can't reprduce with this piece of code:

[code]

Is it possible that you can share your exact example please?

[2022-10-03 10:50] hebrerillo opened #4727 "Cannot auto indent in C++"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When developing in a C++ file and hitting 'enter' to add a new line of code, the text cursor does not respect the current indentation. Instead, the text cursor starts from the beginning of the line.

https://user-images.githubusercontent.com/1699315/193558138-ee2b6422-a163-4fcb-971e-b1c6153e3480.mp4

![netbeans](https://user-image

[2022-10-03 13:12] kresoSusec commented on #4650
do you have any suggestion what i need to disable, to have normal CPU usage?

[2022-10-03 14:59] kresoSusec commented on #4650
Only on Apache versions
 ![netBeans](https://user-images.githubusercontent.com/113850461/193589874-46e0d0c0-0303-4852-acfd-7059e15c5ceb.png) i am using netBeans 8.2 and i dont have that problem.

[2022-10-03 16:17] troizet commented on #4494
You can check on the example of the standard function `is_numeric()`:
1. Write `is_numeric()`
2. Set a caret between `is_nu` and `meric()`
3. Click Source -> Show documentation
4. The documentation for `is_null()` will be displayed
5. Set the caret between `is_num` and `eric()`
6. Click Source -> Show documentation.
7. The documentation for `is_numeric()` will be displayed

[2022-10-03 22:17] errael commented on #4545
Here's something which is probably the same issue.
[code]
The first `listeners` get the hint
[code]
Remove the "final" and the hint goes away

[2022-10-04 05:47] BrianHCombes commented on #4712
On 2022-10-03 4:44 am, Chrizzly wrote:

Chrizzly,

This is an elusive bug.

This morning: I loaded your code in a new html file and no warning.

By day: Fooled around adding and modifying code blocks (with warnings
when in other files) to introduce warning in your file and no warning.
Note: my other files still showed warning all the while.

Tonight: Reloaded your code into another new file and wa

[2022-10-04 06:10] epliskin commented on #3962
See attached NetBeans log for this bug. I was editing some code when it happened. Could not paste from other Windows app, could not copy from NetBeans to another Windows app, but still could copy and paste text inside NetBeans editor.
[messages.zip](https://github.com/apache/netbeans/files/9703112/messages.zip)

[2022-10-04 06:56] epliskin commented on #3962
And again some time after NetBeans restart...

[messages2.zip](https://github.com/apache/netbeans/files/9703433/messages2.zip)

[2022-10-04 07:37] jepsar commented on #3980
For anyone ending up here by searching: this feature must be enabled first:

<img width="851" alt="Screenshot 2022-09-27 at 15 56 16" src="https://user-images.githubusercontent.com/7500178/192546827-2af745b3-e047-4944-9650-72de6f397521.png">

[2022-10-04 08:55] Ohhama1 opened #4731 "pom.xml"
### Body

多分、pom.xml.の機能不全によるのではと思われます。わかりやすく使えるようにしてください。書籍に書いてあるようには動かないように感じます。

### Committer

- [X] I acknowledge that I am a maintainer/committer in the Apache NetBeans project.

[2022-10-04 09:08] pleumann commented on #4617
It is possible this only happens for files that use syntax coloring. I did see it on larger Java files. It does not seem to happen on a 5K "arbitrary" text file (just checked). I will run some more experiments, maybe I can record my screen. I also would not say it's super bad, but it's noticeable. A bit as if the screen refreshing can't keep up with the scrolling at certain speeds (I tend do use t

[2022-10-04 09:19] 6PATyCb opened #4732 "Task categories at bugrtacking dashboard with cyrillic symbols does not load properly after restart"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Task categories at bugrtacking dashboard with cyrillic symbols does not load properly after IDE restart.
Before restart IDE:
![image](https://user-images.githubusercontent.com/33724393/193782687-be80be65-47a1-4039-a292-8dccee9eae78.png)
After restart:
![image](https://user-images.githubusercontent.com/33724393/193783058-0828bc28-9

[2022-10-04 09:20] #4731 closed

[2022-10-04 17:48] #4720 closed

[2022-10-04 17:49] #4704 closed

[2022-10-04 19:27] maffe opened #4734 "Test results window does not display results"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The test results window does not show up automatically when selecting “Test” in a project’s context menu. After opening it via Window → IDE Tools → Test Results, it stays empty even when running the tests again.

### How to reproduce

Create a new Maven project and select “Test” in its context menu.

### Did this work correctly in

[2022-10-04 20:06] aldobrucale commented on #4708
I don't see any exception in the log in corrispondence of the attempt to meve methods

[2022-10-05 02:36] AndrewG10i commented on #4642
I confirm the same bug in NB15. It doesn't happen always, but quite often. It can not find usages of interface method implementations. As per usages I noticed that when you select Scope: Current Project & Dependencies - it can find usages, whereas with only Current Project scope usages could not be found.

[2022-10-05 07:49] mbien commented on #4732
hmm. wondering why `java.net.URLDecoder` wasn't used there.

would be good to:
 - add a test to https://github.com/apache/netbeans/blob/master/ide/team.commons/test/unit/src/org/netbeans/modules/bugtracking/commons/TextUtilsTest.java which shows that this breaks
 - replace the impl in `TextUtils` with `URLEncoder`/`Decoder` (or find the reason why it wasn't used in the first place ;))

adding good

[2022-10-05 08:24] #4520 closed

[2022-10-05 14:50] istinnstudio commented on #4140
I would like to make a note on this behavior, observed in large java class file with more than 15k lines and hundreds of methods/variables has degraded response on auto-completion plus general performance and secondarily also on background scanning.  I do not know if it is related only to static variables or other relations around. But larger the class, larger the chance to get performance issues.

[2022-10-05 15:42] Chris2011 commented on #4712
Sometimes it is also about placing the html file in a different folder which is not the public_html folder which NetBeans creates. I encountered such bugs to, years ago. So please, if somehow possible, just share your, what you think broken html project with us so wie can check some more things out.

[2022-10-05 16:55] techexplorer0310 commented on #4697
Looks like upgrading lucene is not straight forward as from 4.0.0 they have changed package and class structure. So it needs to be almost re-written in netbeans as per migration document https://lucene.apache.org/core/4_0_0/MIGRATE.html

[2022-10-05 18:53] vedha-vikash-pixel opened #4737 "copy/paste bug in Netbeans"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I tried to copy code from a browser and paste it to Netbeans  but the problem was it was not copying . I could only drag and drop it into the editor of the IDE.
Moreover I could not copy from the Netbeans and paste it outside the IDE as well . I think there is definitely a problem with copy/paste feature in the IDE.

### How to re

[2022-10-05 23:28] Ohhama1 commented on #4737
情けなき話、こののち、何をすべきでしょうか？

[2022-10-05 23:43] NoeGuerreroAscencio opened #4738 "Tab's Close button not showing on partially hidden left tab"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When you have several tabs open, and they don't fit you have to scroll using the arrows, everything good until here but when you want to open that one tab that's on the left partially showing (because you have several open) the close button doesn't show up when you hover the tab, however they do close when you click when you click

[2022-10-06 05:09] mbien commented on #4737
sounds like a duplicate of #3962

closing until proven wrong :)

[2022-10-06 05:09] #4737 closed

[2022-10-06 05:21] mbien commented on #4738
not sure how to reproduce this. The close button is rendered in my case even if only a few pixel are visible. (mouse is pointing at it, its just not on the screenshot)
![image](https://user-images.githubusercontent.com/114367/194220316-43710ef2-6275-4827-81e1-9baa37fcb992.png)

do you know that you can use the mouse wheel to navigate through the tabs instead of the arrow buttons?

[2022-10-06 11:43] #4493 closed

[2022-10-06 13:55] lkishalmi commented on #4650
OMG. That Java release is more than 4.5 years old! Could you install a more recent one Like JDK 17, or if you really need JDK 8, than use a more recent one.

https://foojay.io/almanac/java-17/

[2022-10-06 14:34] kresoSusec commented on #4650
Thanks

[2022-10-06 17:20] matthiasblaesing commented on #4697
From my POV the description of CVE-2017-12629: https://nvd.nist.gov/vuln/detail/CVE-2017-12629 is pretty clear, that the attack vector is through the SOLR server, which handles XML in an insecure way. Debian references two changesets in SOLR, which match that:

https://github.com/apache/lucene-solr/commit/7b313bb597a6d1f78773dc9c00f484c078a46c25
https://github.com/apache/lucene-solr/commit/926cc4d

[2022-10-06 17:40] errael opened #4743 "Exceptions if .hint file name has non identifier characters"
### Apache NetBeans version

Apache NetBeans 15

### What happened

_I think it's non-identifier characters in the file name, could be wrong_

Added a file `<userdir>/config/rules/JOptionPane-2.hint`. Tried to edit it from inspect dialog, exceptions
[code]
and
[code]
I foolishly thought there was a problem with the contents of the file, chasing my tail. I finally became suspect of the name, changi

[2022-10-06 22:14] junichi11 commented on #4494
I can't reproduce it...

My environment:
[code]
![nb-gh-4494](https://user-images.githubusercontent.com/738383/194428192-dedcb71f-1630-4b68-a816-848e4f327671.gif)

[2022-10-07 02:11] mbien commented on #4743
It think the system uses the file name (minus ending) as hint name by default if it wasn't configured anywhere else (see [hint option](https://netbeans.apache.org/jackpot/HintsFileFormat.html#_options)).

I imagine this is likely what it causing this. Going to take a look.

[2022-10-07 06:45] ChrissDeGrece opened #4744 "Cordova not found and "Browse" button in options does not work"
### Apache NetBeans version

Apache NetBeans 15

### What happened

On Win11 Pro, attempted to create a new cordova project and NB said it can't find Cordova although it's installed.
Went to options -> HTML/JS -> Mobile Platforms and attempted the following:

- Paste the cordova location  (FAIL)
- Hit the "Browse" button to manually select the path (FAIL) , "Browse" button doesn't do anything

###

[2022-10-07 09:29] mbien commented on #4743
oops. Turns out `-` has a special meaning. Not sure what it is supposed to do but it removes everything after it from the name. Might have to dig into the old repo to find a commit.
https://github.com/apache/netbeans/blob/4ae01ea70f4530443343beee3292e880a74099bd/java/java.hints.ui/src/org/netbeans/modules/java/hints/spiimpl/options/HintsPanel.java#L1313-L1322

[2022-10-07 10:18] akronenw opened #4745 "Indexing stuck while indexing JavaScript file"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I am working on a project that includes a bunch of JS files. When I open the project, the indexing always gets stuck at a random percentage and it is always while indexing the `paper-full.js` script (taken from https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.js which is linked from https://cdnjs.com/libraries/pa

[2022-10-07 10:42] 6PATyCb commented on #4732
I would try to do this tests, but i don't have experience to compile full IDE. Is it possible make it only for bugtracking module?
This [link](https://netbeans.apache.org/wiki/DevFaqModulePatching.asciidoc) is not contain information about compilation.

Is a good practice - making tests who will fails testing step because errors is not fixed yet?

[2022-10-07 13:04] mbien commented on #4732
let me think about this. The URL encoded String is used as file name. This isn't optimal because this could hit the file name length limit on windows (which is still 255 chars I believe).

`тест` would be encoded to `%D1%82%D0%B5%D1%81%D1%82` using `java.net.URLEncoder`. Which means that `тесттесттесттесттесттесттесттесттесттесттест` would break the limit. Maybe this is long enough? :)

You have t

[2022-10-07 15:23] LOND-HO13 opened #4747 "one pluggin cannot install"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The plugin cannot be installed when JDK 14 is used to boot NetBeans 11.3 because unpack200 was deprecated in JDK14.

¿How can I solve this error?, since I have jdk 19 and I get this error

### How to reproduce

java.io.IOException: error=2, No such file or directory at java.base/java.lang.ProcessImpl.forkAndExec(Native Method) at

[2022-10-07 15:40] 6PATyCb commented on #4732
You are right about probably length limitation. As alternative Base64/32 might be better create one mapping file like `categories.map` with json or some another format that associates a category name with a category body file and all body files will be named by increment algorithm (category1.c, category2.c ... categoryN.c)? Or another opinion - since all the categories required for the dashboard t

[2022-10-07 15:51] mbien commented on #4732
agreed. The methods are also unfortunately public API of the module, so we can't really remove them or change the encoding.

Thats why I decided to use java.net.URLEncoder for now. This fixes this particular issue here, without changing API or file compatibility. It has the disadvantage of being a bad encoder for file names, but this would be another issue - at least it should works.

[2022-10-07 16:10] errael commented on #4743
Wow, that's curious. That 2nd change by emi is particularly interesting. Is the code above used only for hints put into the 'rules/' directory by a user? Maybe the problem comes from the scanning of rules directory and the creation of the `id` as in `selectedHint.id`.

Seems like if anything found in rules, `JOP.hint`, is given an id `JOP.hint-`, then at lease this code would work. Then again what

[2022-10-07 16:43] #4684 closed

[2022-10-07 16:45] #4635 closed

[2022-10-07 16:51] NotherGithubAccount commented on #4635
Thanks for the quick fix!

[2022-10-07 17:18] mbien commented on #4747
start with JDK 11 or select a unpack200 implementation when the warning dialog shows up.

you can set the `netbeans_jdkhome` property in your etc/netbeans.conf to your JDK 11 folder, this is used to start NetBeans with.

[2022-10-07 18:28] blakemcbride opened #4750 "JavaDoc URL wrong"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I select "Show JavaDoc" for a java.time.ZonedDateTime object when using Java 17, but NetBeans went to the wrong URL.  See the two images.  The first shows where NetBeans is going.  The second shows the correct path.

Thanks!

This is where NetBeans goes when I select "Show JavaDoc":

![Pic1](https://user-images.githubusercontent.c

[2022-10-07 18:38] ebresie commented on #3447
Seems like GitHub issues has been working well. Is there any further work going on regarding this and is it ready to be closed?  If not, then what's left to do?

[2022-10-07 19:14] 6PATyCb commented on #4732
I was create pool request [#4751](https://github.com/apache/netbeans/pull/4751) with test.

[2022-10-07 23:32] junichi11 commented on #4635
You are welcome :)

[2022-10-07 23:47] CougarB commented on #4179
I was using a PluralSight course to study how to get NetBeans working for a PHP/jQuery project I'm working on. PluralSight focuses only on Java. But since it was the only course they had, I tried following along until I ran into installation problems perhaps because installing XAMPP required a different JDK installation. So I had to quit that course. Then I found that NetBeans had a learning path

[2022-10-08 14:36] blakemcbride opened #4754 "Debug info not updated when code dynamically re-loaded"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Rather than compiling code and then running it, my system compiles, dynamically loads, and then runs code.  The benefit of this is that code can be changed at runtime on a live system without having to compile or re-boot a production server.  This is something I have been using for years in production environments.  It works well.

[2022-10-08 20:06] makiam opened #4755 "Unable to invoke popup menu for source classes in Gradle project"
### Apache NetBeans version

Apache NetBeans latest daily build

### What happened

Once I select multiple java files under project node I can invoke popup menu over it (Ex, to open multipe files or call Diff tool). This works now for Ant-based and/or for Maven projects but not work with Gradle project

### How to reproduce

Under Gradle projject select multiple java classes in project and try to

[2022-10-08 20:08] makiam commented on #4755
Update description

[2022-10-08 20:21] mbien commented on #4750
Hmm. It seems to leave out the module in the path on your first screenshot. When I tried to replicate it it did work as intended though.

Are there any exceptions when this happens?

[2022-10-08 20:46] mbien commented on #4750
reminds me of #4363
`moduleNameFor()` might not return a module for the class in question and if it returns null it assumes its a non-modular javadoc.

[2022-10-09 05:45] brettryan opened #4757 "JavaScript to support "for await of""
### Description

As a javacript developer I would like to have support for [for await...of (ECMAScript specification)](https://tc39.es/ecma262/multipage/ecmascript-language-statements-and-declarations.html#sec-for-in-and-for-of-statements) so that I can write asynchronous iterators using the `for` keyword.

Taken from the [MDN for await...of](https://developer.mozilla.org/en-US/docs/Web/JavaScript

[2022-10-09 11:54] mbien opened #4758 "[jackpot] Declarative rules don't match lambdas"
### Body

migrated issue from [NETBEANS-6025](https://issues.apache.org/jira/browse/NETBEANS-6025). Still reproducible in NB 15.

The first rule works. The second rule never captures anything, the third causes a class cast exception.

[code]

[code]
<details>
<summary>exception of third rule:</summary>

[code]
</details>

### Committer

- [X] I acknowledge that I am a maintainer/committer in the A

[2022-10-09 14:43] 6PATyCb commented on #4710
When too much files is opened I like to use `documents list` format for manage it:
![image](https://user-images.githubusercontent.com/33724393/194762879-ea2250c6-222e-429d-8f59-c1b70390c588.png)

but in that format would be good to have close button to group of documents:
![image](https://user-images.githubusercontent.com/33724393/194763097-3fa38dee-932c-4e11-a956-de12cda764b7.png)

[2022-10-09 14:51] 6PATyCb commented on #4658
Try to delete all your breakpoints and repeat test. It's must be faster

[2022-10-09 15:38] mbien opened #4760 "Close whole documents list at once"
_Originally posted by @6PATyCb in https://github.com/apache/netbeans/issues/4710#issuecomment-1272557189_

When too much files is opened I like to use `documents list` format for manage it:
![image](https://user-images.githubusercontent.com/33724393/194762879-ea2250c6-222e-429d-8f59-c1b70390c588.png)

but in that format would be good to have close button to group of documents:
![image](https://use

[2022-10-09 15:40] mbien commented on #4710
@6PATyCb thats a good idea but next time, please open a new issue. I moved it to 4760

[2022-10-09 16:34] 6PATyCb commented on #4710
I thought this was just part of the discussion about usability of documents tabs, but since it looks good as a separate feature, why not :)

[2022-10-09 18:30] rasa-app commented on #4738
I can confirm this issue. I'm using windows

[2022-10-09 20:14] 6PATyCb opened #4761 "Sql editor improvement for batch execution support"
### Description

Sometimes I using sql editor to fill new table. My sql-scripts looks like that:
![image](https://user-images.githubusercontent.com/33724393/194776741-74710d03-efa9-45ca-846a-2c7a249aaf21.png)
If the script contains a huge number of lines, its execution is a very slow action. To speed up this action would be good use
`java.sql.Statement` method `executeBatch`.

### Use case/motivat

[2022-10-10 07:10] wumpz opened #4762 "while scanning maven multi project sources: java.nio.charset.CodeMalfuntionError"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Background scanning of maven multi project sources:

After this exception the badges will never corrected until I delete the cache directory. The file mentioned should be UTF-8 encoded but does not include UTF-8 specific characters, meaning can be opened using Cp1252 or even ACSCII.
[code]

### How to reproduce

_No response_

###

[2022-10-10 11:59] jtulach opened #4763 "Incorrect method will recurse indifinitely hint"
### Apache NetBeans version

Apache NetBeans latest daily build

### What happened

There is a hint detecting _infinite recursion_. It works poorly JDK19 language features. Namely with `switch` expressions and pattern matching.

### How to reproduce

There are incorrect hints in the source https://github.com/enso-org/enso/blob/ea60cd5fab48d9f6b16923cea21620b97216a898/engine/runtime/src/main/java/o

[2022-10-10 14:33] blakemcbride commented on #4715
This is better described at [https://github.com/apache/netbeans/issues/4754](https://github.com/apache/netbeans/issues/4754)

[2022-10-10 14:33] #4715 closed

[2022-10-10 16:44] makiam opened #4765 "Rename array-typed variable may breaks code"
### Apache NetBeans version

Apache NetBeans latest daily build

### What happened

In case I have two array typed variables and I want rename one of them the second one unexpected changes type and this gives error

### How to reproduce

in some java class define two array-typed fields ex...

invoke rename command for first field ex to arrayOneRenamed
after rename code changes to

which is unexpec

[2022-10-10 16:45] makiam commented on #4765
This issue is a copy of https://issues.apache.org/jira/browse/NETBEANS-4355

[2022-10-10 18:23] lkishalmi commented on #4754
I can assure you that the dynamic class reloading for debugging is working in Java projects. Just tested, it works with Groovy as well (though I could imagine, that there are limitations)
I have to mention that I've tested this with Gradle projects which probably is the best project type for Groovy support in NetBeans.

[2022-10-10 18:34] blakemcbride commented on #4754
You can assure me?  Have you seen my videos?  Clearly, it's not working.

I remind you that I have debugged this code with IntelliJ for many years without a problem.  So, the difference between these two scenarios is NetBeans.

Also, this is not some wacky test project.  This is a large system that has been in production for more than ten years.

[2022-10-10 18:38] blakemcbride commented on #4754
If you like, I can create a smallish open-source program to demonstrate the problem.

[2022-10-10 18:40] blakemcbride commented on #4754
Also, you can test this with a typical Gradle project because Gradle compiles the code before it gets executed.  I'm not doing that, as I've explained.

[2022-10-10 19:21] BradWalker commented on #4754
That would be extremely HELPFUL! My professional experience has taught me a small reproducible test case goes a very long ways to helping with fixing/diagnosing a problem.

Then maybe others, like me, can get more involved.

[2022-10-10 19:29] Richard7111 commented on #4760
Hello, can you assign me this issue and help me navigate a little in the project?

[2022-10-10 20:21] blakemcbride commented on #4754
The test program is at [https://private.stack360.io/files/Test.zip](https://private.stack360.io/files/Test.zip)

In it, there is a file named README.txt that has the instructions.

Thank you!

[2022-10-10 20:28] blakemcbride commented on #4754
I just updated Test.zip with a few corrections to the README.txt file.

[2022-10-10 20:49] blakemcbride commented on #4754
I updated it agin to include the NetBeans project files.

[2022-10-10 21:31] lkishalmi commented on #4754
I see what you mean! I think so far the debug info loading happened in one direction IDE -> APP, or in the first use IDE <- APP, but after the first IDA <- APP sync the IDE never syncs the debug info back from the APP.

[2022-10-10 21:43] blakemcbride commented on #4754
Exactly.  Thank you!

[2022-10-10 21:49] blakemcbride commented on #4754
That system also dynamically loads Java.  I tested it.  The problem exists in Java too.  So, this is not a Groovy problem.

[2022-10-11 00:23] #4605 closed

[2022-10-11 01:28] bernard01 opened #4766 "NullPointerException in compiler, Java files with red error badges can't be run nb-javac regression"
### Apache NetBeans version

Apache NetBeans 15

### What happened

At NetBeans startup with a project group containing a single project, after the cache was deleted.
The problem occurred before. That is why I deleted the cache.

The project where the exception occurs worked before for a long time just a few weeks ago. Now it is broken and I cannot work with it.

The project compiles without error

[2022-10-11 06:56] dgreen commented on #3678
On 20 Jul 2022, at 10:26, Michael Bien wrote:

Sorry.  Did not realize I was being included specifically as opposed to
just a mailing list message.

File URLs:

  * Click
nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to
change this license
  * Click
nbfs://nbhost/SystemFileSystem/Templates/Project/Maven2JavaApp/src/main/java/uab.edu.ee333.mavenproject1/Mavenproject1.java
${

[2022-10-11 07:40] AchuthanKumar commented on #3718
Thanks for the code

On Fri, Mar 11, 2022 at 2:22 AM Matthias Bläsing ***@***.***>
wrote:

--
By,
 S.Achuthan Kumar

[2022-10-11 07:48] neilcsmith-net commented on #4750
I cannot reproduce this issue here with a standard Maven project.  What's the nature of the project?  It shouldn't usually fail for JDK classes, although as referenced in https://github.com/apache/netbeans/pull/4363#issuecomment-1181491931 it does for NetBeans' own source files.

`moduleNameFor()` has a known issue in that it relies on the class that has modular Javadoc being on the module path, n

[2022-10-11 08:01] hajdam commented on #3797
Any recommendation how to fix the issue for bined plugin - better approach to register action for all file types? It seems that netbeans uses "-nb" postfix for dynamically registered file types or is there better access to internal repository?

[2022-10-11 09:17] shoblingr commented on #3748
Hi, this is already done, please look at the screenshot I posted
Regards,
Stef

Le ven. 11 mars 2022 à 23:03, Antonio Vieiro ***@***.***> a
écrit :

[2022-10-11 09:54] neilcsmith-net commented on #4754
I develop a dynamic reloading system myself, although I've never used the debugger with it - mainly because the dynamic source code doesn't exist in files on disk either.

A question would be how you're doing reload?  I haven't looked at your system.  But in terms of Java at least do you use HotSwap or dynamic classloaders?  Because there could be a 1-to-1 vs 1-to-many mapping between source and c

[2022-10-11 10:18] Chris2011 commented on #3797
In general we don't have this prefix in other mimetypes and also we shouldn't. I dunno why -nb was added but in general we don't have it.

[2022-10-11 13:25] neilcsmith-net commented on #4750
Incidentally, this is related to / duplicates #4044

[2022-10-11 13:54] nerestaren opened #4771 "Output encoding in Windows uses cp-1252 by default instead of utf-8"
### Apache NetBeans version

Apache NetBeans 15

### What happened

If you try to output any text in UTF-8, it is not displayed correctly in Windows with JDK19, as it assumes the default of cp1252.

It works with JDK17.

### How to reproduce

Just create any project and output any special character that cp1252 and utf-8 encode differently.

[code]

Displays:

[code]

### Did this work correctly in

[2022-10-11 14:11] neilcsmith-net commented on #4771
This is related to #4261 and #4396. See comments about `JAVA_TOOL_OPTIONS`, etc. too.

It is currently expected that you set the encoding for your project explicitly or via environment.  My inclination is that this is the right default behaviour.  Perhaps we should consider an option to set for all projects?  cc @duoduobingbing

[2022-10-11 14:18] nerestaren commented on #4771
Hmmm... yes, the `JAVA_TOOL_OPTIONS` can also be used as a workaround:

[code]

Anyways, I feel that this should work out of the box.

Thank you!

[2022-10-11 14:26] neilcsmith-net commented on #4771
That has to be balanced with how the JDK works out of the box.

[2022-10-11 14:28] tarmax opened #4772 "Parse error with some java file"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Netbeans is not enable to parse some java file, with exception but no useful informations.

### How to reproduce

[MessageStorageNoSessionRestServiceImpl.log](https://github.com/apache/netbeans/files/9756981/MessageStorageNoSessionRestServiceImpl.log)

An error occurred during parsing of '/home/maax/isp/cdbp0/architettura-v1/archi

[2022-10-11 15:05] Richard7111 commented on #4760
Hello @mbien, can you assign me this issue and help me navigate a little in the project?

[2022-10-11 16:23] mbien commented on #4760
hi @Richard7111

sure. Take a look at `platform/core.multitabs`.

you could set a breakpoint here:
https://github.com/apache/netbeans/blob/1a9b29d627a0f343837dc053b56e8de32d6ff689/platform/core.multitabs/src/org/netbeans/core/multitabs/impl/ButtonPopupSwitcher.java#L445-L456

Don't try to close editor tabs with unsaved changes since this can cause issues.

how to build NetBeans and work with modul

[2022-10-11 17:00] mbien commented on #4772
where did you find that version? :)

trace taken from the log:

[code]

[2022-10-11 17:45] neilcsmith-net commented on #4628
OK, this is caused by changes in javac.  I've got a fix for this and will post a PR tomorrow.

[2022-10-11 18:30] #4755 closed

[2022-10-11 19:37] blakemcbride commented on #4754
When I load a new version, I remove all references to the old class.  So there is only one loaded at a time.

If memory serves, Groovy has the ability to dynamically compile and load files built-in.  For Java, I use [https://github.com/dvare/dynamic-loader](https://github.com/dvare/dynamic-loader)

[2022-10-11 20:51] Johnny11502 commented on #4359
Hello @mbien @Chris2011 , I am a student learning the ins and outs of GitHub and currently have an assignment that requires us to have an issue that we feel confident in solving assigned to us. I would appreciate it if you could assign this issue to me so I can give it a try. Thanks in advance!

[2022-10-11 20:55] mbien commented on #4359
@Johnny11502 done. Good luck :)

[2022-10-11 22:42] sombriks opened #4776 "create shortcut menu on linux"
### Description

since offered linux version is a zip file, would be good to add an option to install/uninstall laucher into user (gnome/kde/xfce/etc) menu.

to do so an option in tools menu would offer to install netbeans .desktop launcher under `~/.local/share/applications/` and then invoke `update-desktop-database` as seen [here](https://unix.stackexchange.com/a/565807/143289)

### Use case/mot

[2022-10-12 01:21] nmatt opened #4777 "Git file status refresh is slow on windows (large projects)"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When changing a file that is under Git control, and then changing it back to the original state in the editor by using Undo (saving the file each time), the Projects and Files view still continue to show the file as modified (filename in blue, versioning label "[-/M]"), although `git status` reports a clean working tree.

### How

[2022-10-12 05:38] troizet commented on #4494
I have checked on two environments on NetBeans versions starting from 12.6, the same behavior everywhere.
[code]

[code]

[2022-10-12 05:42] troizet commented on #4494
I tried to understand the code.
The code that runs to display the documentation
https://github.com/apache/netbeans/blob/f369361d1e92f2e04ab2add4bae52147a0acde51/ide/csl.api/src/org/netbeans/modules/csl/editor/completion/GsfCompletionProvider.java#L526-L573

Here we get the ElementHandle for which we want to display the documentation
https://github.com/apache/netbeans/blob/f369361d1e92f2e04ab2add4b

[2022-10-12 05:53] troizet opened #4778 "CSS: Show documentation (ctrl+shift+space) displays incorrect documentation"
### Apache NetBeans version

Apache NetBeans 15

### What happened

It looks like the documentation search for the display is not done by the full word, but by a few characters before the caret. Also the search is done for partial matches.

### How to reproduce

https://user-images.githubusercontent.com/9607501/195260539-1a57f8af-9b6a-42bd-8d17-83595b851a16.mp4

### Did this work correctly in an e

[2022-10-12 07:00] tarmax commented on #4772
it seems i have made a mistake.
i am using 1.8 for all my projects, because it is mandatory from my job and my JAVA_HOME point to jdk openjdk 1.8 too

[2022-10-12 09:19] naitsirch commented on #4641
@Eugene-Melbourne your quote was incomplete. PSR-12 says

So there must **not** be a blank line at the end of the file, but the last line has to be terminated with a LF.

In fact this is a linux convention followed by common text editors. In Linux the LF character is not regarded as a line seperator, but as a line **terminator**, where valid lines should end with LF. You can read more about that d

[2022-10-12 10:18] makiam opened #4779 "Gradle project becomes unloadable with some attached plugins"
### Apache NetBeans version

Apache NetBeans latest daily build

### What happened

Some gradle plugins becomes project unloadable and show error

### How to reproduce

I create minimal gradle project with only build.gradle file and sources folder exist
Only plugins section and description is defined in build script
[code]
Opening this project shows  Cannot Load Project popup and project propertie

[2022-10-12 11:03] neilcsmith-net commented on #4776
I've thought about this myself too - happy to help / look at this.  One of the issues with the old installer was that the `.desktop` file had problems across machines that would be good to address.

What OS are you on?  I would note there is also a Snap package, community provided DEB and AppImage, and a number of independent options like FlatPak you could look at.

[2022-10-12 14:28] sombriks commented on #4776
Hello @neilcsmith-net !

indeed i took a look on community packages.

the key drawback (yet their advantage) is the container isolation, any setup made on external bash won't reflect on containerized IDE.

As soon as possible i'll propose a pull request so we can discuss it better

[2022-10-12 16:09] #4732 closed

[2022-10-12 16:28] ebarboni commented on #3904
I get this back on NetBeans 15

[2022-10-12 17:31] nmatt commented on #4777
@mbien: I checked that the line endings are remaining the same (CRLF) in the file on disk. (Git _core.autocrlf_ is set to _true_.) I also made a copy of the file before the modification and checked that they are binary equal after undoing the modification. So the Undo seems to be working correctly.

`git status` says:
[code]
So I would expect NetBeans to also show no change.

[2022-10-12 17:40] nmatt commented on #4777
I tested with another, much smaller project, and there it takes 1-2 seconds to update the versioning label. The project were the label only updates after a long time is a large Maven multi-module project with around 170 submodules and 11,000 Java source files. I only have one submodule openen in NetBeans, however code completion etc. seems to be seeing the source files of dependencies within that

[2022-10-12 17:49] mbien commented on #4777
good info. Might be indeed a performance problem under certain circumstances. I have a lot of netbeans modules open right now and it usually takes 1-3s until the status updates. But I have seen it slower before esp when a lot changes at once (e.g during a rebase via terminal).

[2022-10-12 18:40] Richard7111 commented on #4760
Hello, I am not able to find how to create documents list where should I look for this feature. Google was no help. Could you please help me?

[2022-10-12 19:50] nmatt commented on #4777
It's a bit annoying, especially since `git status` and `git diff`` take only ~100 ms to run on the whole multi-module project. Also, there are times when I wait several minutes and the status doesn't change. I don't know how to force it, other than restarting NetBeans, after which it seems to take half a minute or so to revert to the correct state.

In NetBeans, the state transition from "unmodifi

[2022-10-12 22:05] nmatt opened #4782 "False positive for "Unbalanced read/write with collections" hint"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Example Java source code:

[code]

NetBeans shows a warning "the collection is never added to" on the `items` field (*), This is triggered by the `isEmpty()` invocation in `toString()`. However, NetBeans should either notice that this is a read-only collection (difficult), or else notice that the field is exposed to client code th

[2022-10-12 22:16] nmatt opened #4783 "False positive for "Unused Element" hint on overriding package-private method"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Example Java source code:
[code]

NetBeans shows a warning and hint '*Remove unused "method"*' on the overriding `method()` (*) in the `Derived` class, This is incorrect, because clearly the method is being used, via the `AbstractBase` type. The usage analysis apparently doesn't take overridden methods into account.

NetBeans 12.2

[2022-10-13 05:32] junichi11 commented on #3783
@thanasis-oob Could you provide an example project to reproduce it as a zip file? (Please attach it to this issue.)

[2022-10-13 07:52] thanasis-oob commented on #3783
Hi @junichi11, Now my netbeans version is 15. The error it does not appear. However, I attached a demo structure if you want to make a deeper check.
FYI
This error was appeared in a PHP project that uses Lavarel framework v6.x which uses composer to autoload classes.
In addition, Laravel has an extension to help IDEs to detect all classes by adding the _ide_helper.php file in the root directory of

[2022-10-13 08:08] akronenw commented on #4745
If I rename the inner `Base()` function and all its occurrences, the indexing works.

[2022-10-13 08:42] tarmax commented on #4772
it seems i have made a mistake.
i am using 1.8 for all my projects, because it is mandatory from my job and my JAVA_HOME point to jdk openjdk 1.8 too

[2022-10-13 08:46] metalgigio commented on #4223
Same problem here.
I use windows, in netbeans 14 everything fine, i upgraded to 15 and it's impossible to use as it block documents continuously

[2022-10-13 10:20] aldobrucale commented on #4782
I've noticed the same with NB15. The collection is actually passed as an argument to another method.

[2022-10-13 12:57] metalgigio commented on #4223
I'm back to 14 cause 15 keep freeze open documents, here's my about:
Java: 11.0.16; Java HotSpot(TM) 64-Bit Server VM 11.0.16+11-LTS-199
Runtime: Java(TM) SE Runtime Environment 11.0.16+11-LTS-199
System: Windows 10 version 10.0 running on amd64; Cp1252; it_IT (nb)

[2022-10-13 14:46] Richard7111 commented on #4760
Hello @6PATyCb, I am not able to find how to create documents list, where should I look for this feature. Google was no help. Could you please help me?

[2022-10-13 14:54] mbien commented on #4783
can reproduce on 14+. It worked for me on NB 13.

[2022-10-13 14:59] aldobrucale opened #4786 "BadLocationException"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I often notice a javax.swing.text.BadLocationException in the IDE log. I'm not sure if there are other side effects other than that. This is happening since a few versions of Netbeans, I couldn't tell exactly which was the last version that didn' thave this problem.

### How to reproduce

It seems to happen randomly, sometimes as

[2022-10-13 15:21] tc430gi commented on #4710
I would like to implement it for you like my good first issue, need it for school credit at University.

[2022-10-13 15:49] troizet commented on #4760
Choose menu Tools -> Options -> Appearance -> check "Sort opened documents list by project".
Then open several projects.

[2022-10-13 16:23] mbien commented on #4783
duplicate of #4276

[2022-10-13 16:27] mbien commented on #4276
note: even though this looks like a regression, it isn't since NB didn't have the hint before NB 14 (#3841).

[2022-10-13 16:55] mbien commented on #4777
ok so this is not a bug but a windows specific performance issue.

`org.netbeans.modules.git.FileStatusCache` in `ide/git` is the entry point in case anyone is interested to investigate. Going to rename the issue.

[2022-10-13 18:25] 6PATyCb commented on #4760
Hi! Take a look at @troizet comment

[2022-10-13 21:28] FarmGeek4Life opened #4787 "Update to nbi.engine-external-binaries is needed (not part of the automated builds?)"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Two issue/bug reports with the Windows installer have been reported since NetBeans 11, and while there have been fixes merged for them, they still are not part of the new installers because the binaries are not built and used automatically, apparently. This library has not received many updates since NetBeans 11, but also has not

[2022-10-14 05:03] junichi11 commented on #4600
Could you write steps to reproduce it?

[2022-10-14 05:08] junichi11 commented on #3783
@thanasis-oob Great to hear. Just close this. Thanks!

[2022-10-14 05:08] #3783 closed

[2022-10-14 05:27] junichi11 commented on #4612
I can't reproduce it.
Could you write an exact example code to reproduce it?

[code]

[2022-10-14 08:16] mytskine opened #4789 "PHP : detection of SQL strings fails when using heredoc"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Netbeans fails to detect SQL strings that are written using PHP's heredoc syntax.

Netbeans tries to guess if a PHP string is a SQL query, so that completion within the string can use the database connection. This works for plain string, with single or double quotes. It also works for nowdoc strings, i.e. using delimiters like `<<

[2022-10-14 11:40] negora opened #4790 "The "Action items" panel doesn't show all warnings about file being edited"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The *Action items* panel doesn't show all warnings about the file that is currently being edited. I'm referring to Java source files only. I don't know whether this happens with other file types.

What I know for sure is that it depends on the type of warning. Some types are shown, whereas others aren't.

### How to reproduce

###

[2022-10-14 12:25] blakemcbride commented on #4754
I am interested in funding a project to correct this problem.  If interested, please contact me.
Blake McBride
blake1024@gmail.com

[2022-10-14 13:06] ebarboni commented on #4787
Well maybe I could try to setup that like the windows launcher. There is a macos stuff too. Maybe this is needed.

[2022-10-14 13:34] mbien commented on #4790
it appears to show TODOs, javac buildin warnings and errors. But editor hints/inspections are not listed.

[2022-10-15 09:04] ajokodavid opened #4791 "java.lang.IllegalStateException"
### Apache NetBeans version

Apache NetBeans 15

### What happened

[messages.log](https://github.com/apache/netbeans/files/9791652/messages.log)

### How to reproduce

_No response_

### Did this work correctly in an earlier version?

Apache NetBeans 14

### Operating System

Windows

### JDK

JDK 18

### Apache NetBeans packaging

Apache NetBeans platform

### Anything else

_No response_

### A

[2022-10-15 09:31] asbachb commented on #4791
Based on the log it looks like there was an issue with connectivity before hand: `java.io.IOException: Network is unreachable: no further information`

Maybe that error message is caused by that.

Does this behavior reoccur? Do you have a firewall which might prevent connectivity?

[2022-10-15 09:42] asbachb commented on #4772
If you're using NetBeans 15 you should use java 11+ at least to run NetBeans as stated here:

https://netbeans.apache.org/download/nb15/

(What you're using to compile does not depend on NetBeans runtime JRE/JDK)

Basically it seems that lombok crashes during code generation. Which lombok version you're using? I propose you to use a recent JDK to run NetBeans and/or play around with the lombok ver

[2022-10-15 16:01] WhiteHsu commented on #4713
I did development with Netbeans and have interest on this issue. May I take this?  :-)

[2022-10-15 16:13] mbien commented on #4713
@WhiteHsu of course. Simply open a PR or a draft when ready so that a reviewer can take a look.

[2022-10-15 16:24] #4628 closed

[2022-10-15 17:09] WhiteHsu commented on #4713
Thanks @mbien .

I'm trying to build the project but encounter errors. May I consult your opinions?

What I've done are:
1. Fork and clone the project to my local on my Windows 10.
2. Install JDK 19 (The Latest Version)
3. Download ANT 1.10.12 (Latest Version too)
4. Then go to the local dir of the home folder netbeans
5. Run command "ant" with Admin auth.

Then I got the
error: package javax.help

[2022-10-15 17:52] mbien commented on #4713
@WhiteHsu can you move this to a github discussion (or the mailing list)? Its better to talk there instead of using an issue for it.

[2022-10-16 09:22] quantrpeter opened #4796 "Netbeans 15 has no ubuntu installer?"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Netbeans 15 has no ubuntu installer?

### How to reproduce

Netbeans 15 has no ubuntu installer?

### Did this work correctly in an earlier version?

No / Don't know

### Operating System

ubuntu

### JDK

18

### Apache NetBeans packaging

Apache NetBeans provided installer

### Anything else

_No response_

### Are you willing t

[2022-10-16 09:41] neilcsmith-net commented on #4796
The old Linux installer is no longer released due to a variety of unfixed issues.  Aside from the binary zip, NetBeans is available via Snap; as a DEB and an AppImage under the [community installers](https://netbeans.apache.org/download/nb15/#_community_installers); as a third-party FlatPak; and potentially in a few other ways.  Any of these are a better option!  Choose the one that works best for

[2022-10-16 09:41] #4796 closed

[2022-10-16 09:43] quantrpeter commented on #4796
thx

[2022-10-16 12:21] WhiteHsu commented on #4713
Thanks @mbien . Have posted it here:
https://github.com/apache/netbeans/discussions/4797

Pls kindly help suggest and feedback. Thank you very much.  :-)

[2022-10-16 18:00] blakemcbride commented on #4754
Neil was unable to help me, so this is still an open project.

[2022-10-16 18:07] blakemcbride commented on #4754
Incidentally, I noticed that not only does IntelliJ handle this situation correctly, but so does eclipse.  So, the only major IDE that doesn't is NetBeans.

[2022-10-17 03:37] lkishalmi commented on #4779
Does launch4j support Java 18?

[2022-10-17 03:41] lkishalmi commented on #4776
The DEB package is not containerized, also the Snap version is running in classic confinement (aka no containers).

[2022-10-17 06:01] Ponraj3079 commented on #4334
same problem:
java.lang.NullPointerException: Cannot invoke "org.netbeans.modules.editor.indent.spi.IndentTask.indentLock()" because "this.val$netbeansDefaultTask" is null
	at de.funfried.netbeans.plugins.external.formatter.ui.editor.ExternalFormatterIndentTaskFactory$2.indentLock(ExternalFormatterIndentTaskFactory.java:104)
	at org.netbeans.modules.editor.indent.TaskHandler$MimeItem.createTask(Ta

[2022-10-17 08:02] makiam commented on #4779
My IDE successfully compiles project and creates exe file with JDK 18 but shows this load error

[2022-10-17 08:13] makiam commented on #4779
Issue reproduced also with old JDK9

[2022-10-17 09:13] neilcsmith-net commented on #4276
As mentioned in #4783 this affects non-abstract package-private methods too.  I think we should hide or remove the hint if not fixable by NB16 release @dbalek

[2022-10-17 11:59] Chris2011 commented on #4790
In PHP files it seems to work correctly for example syntax errors :D. FYI

[2022-10-17 15:34] brandpeter opened #4804 "PHP hint for Empty Heading when content of tag supplied by PHP variable"
### Apache NetBeans version

Apache NetBeans 15

### What happened

At its simplest, _`<?php $title = 'something';?><h1><?php echo $title?></h1>`_ in a PHP file reports the error 'Empty Heading'.
Looks valid to me.

### How to reproduce

Paste above code into a PHP file, and open it in NetBeans editor.

### Did this work correctly in an earlier version?

No / Don't know

### Operating System

Wind

[2022-10-17 15:46] brandpeter opened #4805 "Javascript Hint when PHP code embedded in construction of JS object"
### Apache NetBeans version

Apache NetBeans 15

### What happened

`<script>
var formBox = new FormBox;
formBox.display({
	form : document.getElementById('thisForm')
	, buttons : [
		{icon : 'search.png', label : 'View', name : 'View', submitAction : true}
<?php if ($_SESSION['JobID']==1) {?>
		, {icon : 'delete.png', label : 'Delete', name : 'Delete', submitAction : true}
<?php }?>
	]
	, deleteC

[2022-10-17 15:49] brandpeter commented on #4805
Apologies for not formatting code correctly.

[2022-10-17 18:58] darwinte opened #4807 "High CPU usage for NetBeans Linux with C/C++ project."
### Apache NetBeans version

Apache NetBeans 15

### What happened

Project files has ~300k total files. C/C++ indexing shows ~69k files parsing. High CPU usage takes ~40 minutes.

Profiling shows:

FileSystemWatchService	16,086 ms (100%)	15,830 ms (100%)
sun.nio.fs.LinuxWatchService$Poller.run ()	16,086 ms (100%)	15,830 ms (100%)

### How to reproduce

Easily reproducible.  Request for more info

[2022-10-17 19:00] darwinte commented on #4807
![Screenshot_20221017_115327](https://user-images.githubusercontent.com/1226154/196260281-09e99054-5c6e-46fa-8ebf-279973aada79.png)

[2022-10-17 23:29] lkishalmi commented on #4807
Are you using the C++ Lite support or the one from NetBeans 8.2?

[2022-10-17 23:41] tc430gi commented on #4710
@mbien can you please?

[2022-10-18 12:14] 6PATyCb commented on #4710
I don't have a rights

[2022-10-18 14:44] mbien commented on #4710
you can simply open a PR if you want to contribute a change. You don't even need an issue for that or someone assigning an issue to you.

[2022-10-18 15:23] AlanBMatthews opened #4812 "JavaFX application with Gluon SceneBuilder"
### Apache NetBeans version

Apache NetBeans 15

### What happened

NetBeans failed to produce a build when following a tutorial example to create a simple javafx application using SceneBuilder to construct the FXML file.
The FXMLController class was unable to detect an instance of the components defined within the FXML file.

The problem appears to have 3 contributors.
1. Within the FXMain class

[2022-10-18 19:41] articfox58 opened #4813 "Unpacking index for local repository error"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I've done a new Java maven project, after NetBeans download packages it starts 'unpacking index for central repository'  then suddenly shows an error. The long backtrace starts with an IOException and the message 'not space left on device' (in spanish there)... that I put next...
![error maven](https://user-images.githubuserconten

[2022-10-19 03:51] NoeGuerreroAscencio commented on #4738
@mbien  maybe it's because you have a different theme and color and that's why you can't replicate it.

[2022-10-19 05:59] junichi11 commented on #4686
I implemented this feature based on that behavior (https://pear.php.net/package/PhpDocumentor/docs/latest/phpDocumentor/tutorial_tags.inlineinheritdoc.pkg.html).

The parent phpdoc doesn't have a description but it has only a header.

May I have your expected result?

Other IDE, editor and language
- It seems that Eclipse and VSCode doesn't handle properly...
- Java editor(NB) replace it with whol

[2022-10-19 06:07] zeleznypa commented on #4612
@junichi11 Strange. Now when I tried to isolate the example, situation not happen on the same environment.
I'm closing the request.

[2022-10-19 06:07] #4612 closed

[2022-10-19 10:04] mbien commented on #4738
@NoeGuerreroAscencio I tested with the same theme (FlatLaf) just the dark version of it on linux. This issue might be windows specific since all reporters mentioned windows so far.

You could also try a more recent JDK, since NetBeans doesn't support JDK 8 anymore. JDK 17 would be the most recent long term release.

[2022-10-19 10:18] mbien commented on #4813
well.. do you have space on your dispositivo left? ;)

the cache is stored at:
`/home/[your_user]/.cache/netbeans`

Cache can be several GB large. If you don't use maven often or don't want the maven index, you can turn it off via:
`tools -> options -> java -> maven -> index -> completely disable indexing`

there is also a Janitor tool which cleans up old caches under:
`tools -> options -> miscell

[2022-10-19 11:15] mbien commented on #4787
although I personally don't use installers for NB, I do like the idea of the community bundles since they contain a recent JDK too which removes an entire category of "wrong env setup" issues. It does also provide a very good out-of-the-box experience, since a student for example would program against the most recent JDK with the first new project s(he) creates.

So if the windows installer is cau

[2022-10-19 13:21] HamiltonNCIrl commented on #4605
Could you possibly provide instructions on how to apply this update, please? I'm lost here. Thanks.

[2022-10-19 15:01] qmegas commented on #4568
I guess it's duplicate of #4213

[2022-10-19 16:14] articfox58 commented on #4813
Thank you for your time and help..
Yes I have many space available on my device.. was the first checked..

[2022-10-19 16:32] rkeen-siemens opened #4818 "Some Unicode characters display as \u escapes"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Some Unicode characters display as \u escapes in the property sheet. I would expect that if they can be rendered (as you can see when editing the value in the property sheet) that the actual character glyph would be rendered rather than the textual escape.

### How to reproduce

1. Create a new JForm Java application
2. Add a comp

[2022-10-19 19:26] atehrani opened #4819 "Code Template fails with NullPointer"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When I try to use code templates using keywords, for example `sout` which should automatically expand to `System.out.println()` it fails with a NPE.
[messages.log](https://github.com/apache/netbeans/files/9823589/messages.log)

### How to reproduce

Use `sout` and see the NPE. This occurs when using this plugin https://funfried.gi

[2022-10-19 20:33] mbien commented on #4813
@articfox58 how much space do you have left?

[2022-10-19 20:35] jalberet commented on #4712
Thanks 😎

[2022-10-20 07:35] adam-waldenberg opened #4823 "'Error parsing file' in tests"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Tests are sometimes unable to reference classes in the main code failing with a 'Error parsing file' message in a Maven project.
![image](https://user-images.githubusercontent.com/1555683/196883013-7ccc120a-e59b-46ff-b536-0407d5f6dbf6.png)

### How to reproduce

![image](https://user-images.githubusercontent.com/1555683/196883743-

[2022-10-20 08:45] hbitteur opened #4824 "False positive on "The collection is only added to, never read" when collection is declared 'final'"
### Apache NetBeans version

Apache NetBeans 15

### What happened

A collection declared as `final` can be added to and read from, and the program works correctly of course.
However Netbeans flags this collection with the warning "_**The collection is only added to, never read**_"!
See the simple example below.

### How to reproduce

[code]
Netbeans flags line 1 with the warning message: "_The co

[2022-10-20 08:51] neilcsmith-net commented on #4824
Should be fixed in 16. Release candidate available at #4815 if you want to test.

[2022-10-20 08:51] #4824 closed

[2022-10-20 09:15] qmegas opened #4825 "Javascript: global variable is not declared bug"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Since version 15 global variables like `window` and `document` were removed from the list of known global variables (PR #4252). So once upgrading to version 15 we got that confusing situation:

<img src="https://user-images.githubusercontent.com/2444896/196906099-4274d0e8-8008-4edc-810e-7261d3f672f5.PNG">

Variables which are real

[2022-10-20 10:02] tarmax commented on #4772
Sorry for delay.
I have solved my problem adding last lombok library in my pom file.
Before my operation lombok library was inhereditated by other libs.
Thank's a lot for your suggestion to check lombok library.

Massimo

________________________________
From: Benjamin Asbach ***@***.***>
Sent: 15 October 2022 11:42
To: apache/netbeans ***@***.***>
Cc: tarmax ***@***.***>; Author ***@***.***>
Subj

[2022-10-20 10:05] mbien commented on #4772
good that you could solve the issue. closing.

[2022-10-20 10:05] #4772 closed

[2022-10-20 15:13] richard-grin opened #4827 "Wizard "New Entity Classes from Database" does not work with Payara (version 16 RC1) - Jakarta EE 9.1"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

I arrive directly on the second step of the wizard and no Datasource is displayed, so I have to give up. Instead of "Data source", "Please wait.." is displayed, and I waited a very long time. Yet I can connect to the database from the entry "Databases" of the Services tab of NetBeans.

The server is Payara Server

[2022-10-20 15:25] richard-grin opened #4828 "Namespace "javax" used in generated code for a Jakarta 9.1 application (instead of jakarta)"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

If a wizard is used to generate classes, "javax" is used instead of "jakarta".
For example, with the wizard "New Entity Classes from Database" or "New Session bean", or "New Entity".

### How to reproduce

Create a new Maven Web project for Jakarta 9.1 and launch a wizard.

### Did this work correctly in an earli

[2022-10-20 15:37] richard-grin opened #4829 "Jakarta EE 9.1 - EJBs not found by "Call Enterprise Bean" (insertion into another class)"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

If you want to insert an EJB in another EJB (for example) with the help of NetBeans, no EJB is found.

### How to reproduce

Alt-Insert in the code of a class and choose "Call Enterprise Bean".

### Did this work correctly in an earlier version?

Apache NetBeans 15

### Operating System

Windows 11 Family 64-bit,

[2022-10-20 15:43] richard-grin opened #4830 "Jakarta EE 9.1 - Impossible to create an EJB without an interface (using "New Session Bean")"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

Creation of a new session bean (EJB):
We must "choose" (it's the only option!) to create a local interface. It's not possible to create an EJB without an interface.

### How to reproduce

Right-clic on the project or a package and choose "New Session Bean".
You have to check the box "Local" for the interface. Els

[2022-10-20 17:51] matthiasblaesing commented on #4825
Please show your message log. This is not reproducible on master.

[2022-10-20 18:49] matthiasblaesing commented on #4825
Please run netbeans from commandline with the arguments and test again:

[code]

This will invoke NetBeans with a clean userdir. This should not matter, but ...

[2022-10-20 23:03] nmatt opened #4831 "Debugger views only show a single "DN" column and no rows"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When debugging Java code (Maven project), the debugger views like Variables, Watches, Breakpoints and Call Stack show no content, and only a single column with heading "DN", see this screenshot:

![image](https://user-images.githubusercontent.com/7593340/197074600-135986fc-cfe8-4564-b46d-34a59e2b552f.png)

This also affects the po

[2022-10-21 05:31] BrianHCombes opened #4832 "JSX React fragment syntax (empty tag) generates warnings throughout the fragment but is correct and proper JSX nomenclature."
### Apache NetBeans version

Apache NetBeans 15

### What happened

Within the ReactJS development environment where HTML/JSX is normal in a JS file, NetBeans is interpreting fragment syntax as unexpected while expecting a "jsx_indentifier" per the warning message. See screenshot.

![JSX_Indentifier-problem- 2022-10-20 231431](https://user-images.githubusercontent.com/21314458/197117714-3a1d00cd-b

[2022-10-21 05:34] BrianHCombes commented on #4832
BTW, I get around it by replacing empty tags with a filler like '<React.StrictMode>' or simply '<div>' but it does create an unneeded DOM node.

[2022-10-21 10:13] qmegas commented on #4825
Surprisingly when doing a clean install the problem gone, but when on first run importing settings from previous NB installation (in my case NB 14) then the problem appears.

[2022-10-21 13:05] mbien commented on #4831
never saw that happening before. More info would be needed to reproduce this. I am debugging a maven project right now actually.

btw NB is supported on JDK 11, 17 and "current at release".

[2022-10-21 15:33] neilcsmith-net commented on #3678
@sdedic would be really good to get some fix for this in NB16!

[2022-10-21 15:35] neilcsmith-net commented on #4276
Have noticed that even with the hint disabled, methods are still underlined with an unused message in the tooltip.

[2022-10-21 15:42] neilcsmith-net commented on #4819
Closing as seems to be caused by third-party plugin, and accepted as such in the related issue.

[2022-10-21 15:42] #4819 closed

[2022-10-21 18:22] nmatt commented on #4831
@mbien: I retried with JDK 11.0.16.1 (current version), same behavior.

[2022-10-21 19:13] javierllorente commented on #4338
I can still reproduce this issue with NetBeans 15 and 16-rc1.

[2022-10-21 20:36] richard-grin opened #4839 "Wizard for inserting the code to use an EntityManager does not generate good code"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

In an EJB, Alt+Insert > Use Entity Manager... generate these lines:
`    @PersistenceContext(unitName = "xxxxx")
    private EntityManager em;
    @javax.annotation.Resource
    private javax.transaction.UserTransaction utx;

    public void persist(Object object) {
        try {
            utx.begin();

[2022-10-21 21:42] nmatt commented on #4831
Ok, the culprit the BinEd plugin in version 0.2.3: https://github.com/exbin/bined-netbeans-plugin/issues/15
The newer version 0.2.4 from 12/10/2022 seems to solve the issue, however the NetBeans plugin portal still provides version 0.2.3 by default. One has to download and install version 0.2.4 manually.

[2022-10-21 21:42] #4831 closed

[2022-10-22 03:21] grantleyT commented on #4338
Same here, I tried it last night with the Jakarta 9.1 compatible Glassfish
Server.
Still no luck!

On Sat, 22 Oct 2022, 6:13 am Javier Llorente, ***@***.***>
wrote:

[2022-10-22 05:49] bercolax commented on #4338
Incase we can get involved and help, kindly let me know. Will be happy to get involved. We can have two jars for related plugin. Users working can uninstall the javax.xxx plugin and install the jakartaee.xxx plugin.
- If any user wishes to work on older versions they can have two versions of Netbeans like Netbeans 15 for jakartaee and Netbeans 14 for javax.xx based.

[2022-10-22 08:19] sysmat commented on #4605
Same here

[2022-10-22 08:38] matthiasblaesing commented on #4825
I now tried to reproduce again and fail. I used NetBeans 14 to create a userdir and imported it into a master build, while JS failed to properly startup on first call (known problem of CSL), after restart all was ok.

Sorry about that as this makes diagnosis very hard. Could you please test import of settings and then remove the "index" directory from the cache directory? In my case the cache was

[2022-10-22 08:42] richard-grin opened #4840 "Wizard "Insert a table into a JSF page" does not work in a Maven Web Application for Jakarta EE 9.1"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

The wizard for inserting a table into a JSF page does not find any "Managed bean property" that returns a list of entities. Perhaps because of the new namespace "jakarta".

### How to reproduce

Create a JSF page, a CDI bean with a method that returns a list of entities.
In the JSF page, use the wizard that inser

[2022-10-22 09:02] richard-grin opened #4841 "It's impossible to start GlassFish 6.2.5 from the Services tab of NetBeans"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

Right-click on GlassFish entry > Start.
I got the message "Error: Could not find or load main class Eclipse\glassfish6.2.5\glassfish6\glassfish.lib.grizzly-npn-api.jar
Caused by: java.lang.ClassNotFoundException: Eclipse\glassfish6.2.5\glassfish6\glassfish.lib.grizzly-npn-api.jar"

If I start GlassFish with asadm

[2022-10-22 11:55] tc430gi commented on #4710
Can somebody help me navigate a little bit in the project or give me some advice where to start?

[2022-10-22 13:15] aksarben opened #4842 "Java Stack Overflow"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Repeatedly getting stack overflows. Details from popup dialog:
[code]

### How to reproduce

It happens virtually every time run NetBeans. Seems to be related to CSS Java class

### Did this work correctly in an earlier version?

No / Don't know

### Operating System

Edition	Windows 10 Home Version	21H2 Installed on	‎7/‎17/‎2020

[2022-10-22 18:05] aksarben opened #4843 "Spellcheck False Alarms - Soft Hyphens"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The spell checker incorrectly flags as misspelled words with embedded soft hyphens (U+00AD). We have tens thousands of these in our site, but NetBeans' spell check is the first one to report these words were misspelled.

Spell checker should ignore soft hyphens.

### How to reproduce

Spellcheck false alarms happen 100% of the tim

[2022-10-22 19:12] aksarben opened #4844 "HTML Editor - Stack Overflow When Refactoring"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The error message I got when trying to refactor/rename an HTML file.

![image](https://user-images.githubusercontent.com/6260602/197357408-16ed76c8-9e47-45ea-9c69-a132410212e0.png)
[messages.log](https://github.com/apache/netbeans/files/9845114/messages.log)

### How to reproduce

In file **aadraclo.htm**, I created a link pointin

[2022-10-22 21:08] Chris2011 commented on #4832
Reproducable. Thx for the info.

[2022-10-22 21:29] Chris2011 commented on #4844
If you just want to rename your file just select the file in the project/files window and hit F2. But I think it will not refactor so if your file is somehow linked somewhere else, it will not work AFAIK.

[2022-10-23 08:44] qmegas commented on #4825
In my case I do have additional items in `segments` file, it was added manually by me via "Global includes path" in PHP settings panel. For the experiment I removed these paths and deleted index directory and restarted NB again. The problem still presents however in `segments` file there were only two files `/webcommon/jsstubs/core-stubs.zip` and `/webcommon/jsstubs/dom-stubs.zip` both related to

[2022-10-23 12:34] matthiasblaesing commented on #4825
That parts looks sane. Could you please see what you get when running the broken installation with:

[code]

I still don't see a connection between updating and this failure.

[2022-10-23 13:08] qmegas commented on #4825
That didn't helped, still see warning hints.

[2022-10-23 13:35] matthiasblaesing commented on #4825
Sorry, this should generate additional logging - please see if so and if so, get it here. Thank you.

[2022-10-23 13:40] qmegas commented on #4825
[messages.log](https://github.com/apache/netbeans/files/9846692/messages.log)

[2022-10-23 15:19] matthiasblaesing commented on #4825
Still missing an error indicator. I see two further options:

1. You provide detailed steps which I can follow to reproduce the problem starting with an empty userdir
2. You try to debug the issue by stepping through `org.netbeans.modules.javascript2.editor.hints.GlobalIsNotDefined` - the hint should be generated there and it would be interesting to know the values of `findByFqnOnWindow` and `find

[2022-10-23 17:58] aksarben commented on #4844
The context menu clearly shows NetBeans offering to refactor the file name. When I right-click the file name, the menu option is **Refactor-Rename**. When I choose that option, a dialog opens with a field to enter the new name, and a check box that says **Rename Without Refactoring**. So clearly, it's designed to allow refactoring.

The problem is not lack of functionality in the design. The probl

[2022-10-23 20:05] errael opened #4847 "Gradle won't load project in NetBeans-16rc1"
### Apache NetBeans version

Apache NetBeans latest daily build

### What happened

Attached zip file has trivial projects that demo the problem

Running `NB-master, Oct 19 just after freeze` under NB-15 debugger

Open lib - resolve problem

Observe:
[code]
On the System, there is:

[code]

Right click lib - select build, `BUILD SUCCESSFUL`

Still has PrimingBuildRequired and Resolve still fails;

[2022-10-24 06:54] Chris2011 commented on #4844
Yes I know. I just gave you another opportunity if you really just want to rename this one file. It will not solve the problem anyway.

[2022-10-24 09:47] neilcsmith-net commented on #4847
Doesn't seem specific to the project setup you shared.  Happens just with `lib` and with any project set up to use Gradle 6.8.3.

cc @lkishalmi @sdedic for comment.  Marked high and with NB16 milestone for now, but feel free to re-assess.

[2022-10-24 11:07] #4686 closed

[2022-10-24 11:10] #4113 closed

[2022-10-24 11:11] MartinBalin commented on #4092
This is not planned to be done.

[2022-10-24 11:11] #4092 closed

[2022-10-24 11:44] ebarboni commented on #4787
I'm not sure there is a lack of maintenance. The fix is there for many months.
Our build system is the issue, all the externals that are our own packaged sources/bin populated to osuosl is the issue.
I think we have;
1. debugger,installer, that is build from our source with the issue to get all the target platform 😄
2. 3rd party sources + "own" patches populated generated to bin (osgi stuff)
3. Ot

[2022-10-24 14:54] lkishalmi commented on #4847
[code]
Well we should be careful when using internal Gradle classes.

[2022-10-24 14:58] qmegas commented on #4825
After long search succeeded to reproduce the problem... problem appears when changing ignoring files pattern from default one:
[code]
to one that migrates for me from NB 8:
[code]

[2022-10-24 15:15] errael commented on #4847
Off topic of nb-16 fix, but how about an issue/discussion to consider not running Gradle with NB directly? Could the Gradle daemon be used to gather the info that NB needs?

[2022-10-24 16:48] neilcsmith-net commented on #4847
@sdedic download it? Or possibly compile it?  If you want to go down a rabbit warren :smile: https://issues.apache.org/jira/browse/LEGAL-570

[2022-10-24 17:18] Johnny11502 commented on #4359
@mbien Sorry for the lack of updates but I did end up completing a different issue for my assignment. This was one of the three I chose in case I had issues getting the first one assigned to me. I appreciate you allowing me to keep it for so long, Thank you for understanding.

[2022-10-24 17:38] sdedic commented on #4847
Never mind; I think I've found a way how to generate gradle wrapper by gradle (that is available, otherwise all CI gradle tests would be failing).

[2022-10-24 18:48] matthiasblaesing commented on #4825
Thank you - and this is that happens: The problematic pattern is:

[code]

This pattern matches all dot files apart from:

- `.htaccess`
- `.hgignore`
- `.git` (followed by any character)

So you are also excluding the file: `._.js`, which holds the global definitions. I'm not sure yet, whether I consider this a bug or "works as designed".

[2022-10-24 18:53] matthiasblaesing commented on #4847
@sdedic you indicate, that you found a solution, if the need arises, that NetBeans external dependencies mechanism can download from arbitrary https locations:

https://github.com/apache/netbeans/blob/9445a566c595a6c7573e3478e3073c3e15eda05f/extide/libs.gradle/external/binaries-list#L18

That way an offline build will still work if the binary is cached once. We should not stretch this to wide, but

[2022-10-24 20:04] errael opened #4851 "Gradle issues, 1-ResolveProblem, 2-can't set main project"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Zip of minimal project that show the problems:
https://github.com/apache/netbeans/files/9847401/gradle-projects-compose.zip

**=== problem 1 (minor problem)**

0.  tar -x projects
1.  clean userdir/cachedir
2.  Open app,lib - trust yes, resolve problem
3.  Observe lib resolves, not app.
4.  Attempt to resolve app, Does not resolve

[2022-10-24 20:48] errael commented on #4437
I was going to close this since #4603 is merged. But until it's released...

What's best practice for closing an issue?

[2022-10-25 05:39] richard-grin commented on #4828
Perhaps, in this period of transition between the 2 namespaces, it would be easier to propose 2 types of code generation and the user will choose one?

[2022-10-25 05:52] stoxford opened #4852 "Unexpected Exception reported during background scan of project"
### Apache NetBeans version

Apache NetBeans 15

### What happened

After upgrading from NetBeans 13 to NetBeans 15, an unexpected exception occurred during the first background scan of my project. This has occasionally occurred during subsequent background scanning of the project, but it is not consistent. This bug may be related to #4853, but the stack trace is different. Here is the debug outpu

[2022-10-25 07:52] stoxford opened #4853 "Unexpected Exception reported during Clean and Build of Project"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Unexpected Exception occurring during "Clean and Build Project."

May be related to issue #4852, but the stack trace is different.

"Show Details" output:

[code]

### How to reproduce

This occurred during the clean and build of my project. I don't know how others can reproduce it without access to my project.

### Did this work

[2022-10-25 11:41] hindsholm opened #4856 "Add support for disabling hints in VS Code"
### Description

When using the NetBeans IDE, it is possible to edit and/or disable individual hints.

If e.g. I disable the "unused method" hint, this configuration is stored in
~/.netbeans/14/config/Preferences/org/netbeans/modules/java/hints/default/org.netbeans.modules.java.hints.bugs.Unused.properties

This is a very useful functionality because it allows you to tailor the hints to your prefe

[2022-10-25 12:02] neilcsmith-net commented on #4276
Opened a potential fix for this - cc @mbien @dbalek

[2022-10-25 17:11] neilcsmith-net commented on #4851
Did you try using the main menu `Run / Set Main Project / <project>`?  After doing this, check the contents of the project popup menu.

[2022-10-25 18:54] adam-waldenberg opened #4858 "Profiling test file is looking for a main method"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Choosing `Profile Test File` from the context menu of a Java test file in a Maven project produces the an error and NetBeans looking for a `main()` method rather than running and profiling the test:

![image](https://user-images.githubusercontent.com/1555683/197857271-6dc7df49-9ed0-405d-a7ac-bb4a0f7631ac.png)
****

### How to repr

[2022-10-25 19:07] mbien commented on #4852
Interesting. I am wondering why the annotation scanner can't find the `JAXBException`. Maybe it has the runtime JDK in the path instead of the project JDK?

Even though this is not a supported configuration. I would be curious if the same exception would also occur if you start NB on JDK 8 (which has jaxb).

What annotation do you think is causing this? A minimal reproducer would be great i think.

[2022-10-25 19:23] errael commented on #4851
Didn't know (forgot?) about that. Doing `Run > SetMainProject > app` and then the project popup has `Set/Unset as Main Project` as appropriate. Then doing `Run > SetMainProject > None`, and they disappear from the project context menu.

Interesting to note that the `Run > SetMainProject` list is
![RunSet1](https://user-images.githubusercontent.com/20450427/197861923-bb8244eb-66d9-46bb-9e1f-ab4f111

[2022-10-25 19:27] errael commented on #4847
Fixed running
[code]

[2022-10-25 19:27] #4847 closed

[2022-10-25 19:29] errael commented on #4437
Fixed in NB16-RC1

[2022-10-25 19:29] #4437 closed

[2022-10-25 19:30] mbien commented on #4842
minimal reproducer would be good for this one

[2022-10-25 19:46] errael commented on #4851
Restart NetBeans and the sub-menu mini-icons are corrected.

The weird behavior with the project context menu and  `Set/Unset as Main Project` is not affected. Those entries only show up if there is a currently set main project.

Possibly related. Do `Run > SetMainProject > None`. Then when `app` is selected in the `RunProject`/`DebugProject` buttons are enabled, otherwise they are disabled.

[2022-10-25 20:27] aksarben commented on #4842
I can reproduce it when refactoring a file name. But I uncovered a new clue: The rename dialog doesn't mention anything about omitting the file extension, but the stack overflow seems to occur **only when I include the file extension** in the name (see image below). When I don't include an extension, I don't see astack overflow.

_But that's only half the problem_. Whether there's a stack overflow

[2022-10-25 20:40] brettryan opened #4859 "Add support to not add newlines in switch expressions"
### Description

As a software engineer I would like to allow switch expressions to format the same as switch statements so that I can better align my code.

Currently if I were to try to format the following statement:

[code]

It will be formatted as:

[code]

This makes the statement decidedly less readable and does not align with my switch statement settings.

### Use case/motivation

Allow fo

[2022-10-25 21:56] mbien commented on #4790
The "Hints-based tasks" seem to be for editors based on the `ide/csl.api` `org.netbeans.modules.csl.core.TasklistStateBackdoor`

The "Compiler Errors" checkbox is registered via `ide/parsing.indexing`  `org.netbeans.modules.parsing.impl.indexing.errors.TaskProvider`

The "Whitelist violations" are registered in `java/java.editor` `org.netbeans.modules.java.editor.whitelist.WhiteListCheckTask`
(eve

[2022-10-26 00:09] NoeGuerreroAscencio commented on #4738
Just updated to JDK 17 (confirmed with "java -version" through CMD), **the problem still persists**, problem might be Windows spcific just as stated in bug report.

[2022-10-26 00:10] NoeGuerreroAscencio commented on #4738
@mbien Just updated to JDK 17 (confirmed with "java -version" through CMD), **the problem still persists**, problem might be Windows specific just as stated in bug report.

[2022-10-26 05:28] troizet opened #4861 "CSS: Hint "unknown property" is displayed, in case the css property is written in uppercase letters."
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

Hint "unknown property" is displayed, in case the css property is written in uppercase letters.

![image](https://user-images.githubusercontent.com/9607501/197937097-86b7609a-5e8f-4694-9e97-23063a9a25df.png)

### How to reproduce

Write the css property in uppercase letters.

### Did this work correctly in an ear

[2022-10-26 08:49] neilcsmith-net commented on #4708
Marking this high priority.  Be good to see fixed by NB16 release.

[2022-10-26 13:52] mbien commented on #4708
I'll take a look if I can fix this.

[2022-10-26 14:19] neilcsmith-net commented on #4708
@mbien sorry, should have assigned myself. Just opening a PR now.

[2022-10-26 14:34] mbien commented on #4708
do worries. I just started looking into it while walking through the stack backwards and the code looked all correct.

[2022-10-26 14:40] neilcsmith-net commented on #4708
Same here.  Code in javac fails because Modules not initialised, so now making sure it is.  Seems to be build system specific though.  Works fine with NetBeans' own sources. :shrug:

[2022-10-26 14:50] mbien commented on #4708
I am wondering if the NB utilities like `ElementHandle` should/could check the phase (`compilationInfo.getPhase()`) so that they can throw better exceptions in future. But I lack the experience of all the edge cases, maybe sometimes a different phase is ok.

[2022-10-26 15:00] neilcsmith-net commented on #4708
I wondered that too, or even moving to the required state in there if necessary, possibly logging an error, but working.  `Phase.PARSED` seemed to be enough to fix this issue, but other code across that module has `Phase.RESOLVED` so used that.  Keeping it localised for NB16 anyway.

[2022-10-26 16:53] errael opened #4865 "Gradle: can't debug composite build"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

This issue discussed in dev,
https://lists.apache.org/thread/372jso34sfp42fotvfkhp2vj5r8vvq0h
The thread includes the suggestion to use a `composit build` with `includeBuild` and various suggestions on how to get debug to work. The problem is that although the `Run` button works on a composite build, the `Debug`

[2022-10-26 17:04] errael opened #4866 "Can't activate Tools > Plugins > Installed > Tools"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

Automatic module activation activates parts of "non-detail" broad plugin group. This leads to situations where a user can neither acitvate nor deactivate the plugin group; somewhat confusing. The user is forced into the "show details" realm.

Turns out this isn't just about automatic activation. The tools module

[2022-10-26 18:47] johnmanko opened #4867 "NoSuchFieldError: SNIPPET in JavadocCompletionUtils"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Auto-completion and hot-linking stopped working.

[code]

### How to reproduce

Not sure how to reproduce.

### Did this work correctly in an earlier version?

Apache NetBeans 14

### Operating System

Ubuntu 22.04.1 LTS

### JDK

OpenJDK Runtime Environment (build 18.0.2-ea+9-Ubuntu-222.04)

### Apache NetBeans packaging

Apache

[2022-10-26 23:20] mbien commented on #4604
The deprecation warnings come directly from javac ([StandardJavacWarnings](https://github.com/apache/netbeans/blob/c084119009d2e0f736f225d706bc1827af283501/java/java.hints/src/org/netbeans/modules/java/hints/StandardJavacWarnings.java)). The current implementation won't work as code inspection since the hint isn't doing anything (it basically only sets compiler flags).

During the inspection, [Bat

[2022-10-26 23:32] mbien commented on #4867
`DocTree.Kind.SNIPPET` should exist in both, your JDK and in nb-javac of NetBeans 15. I am not sure what is happening there. Did you import modules from an old NB config or something similar?

[2022-10-27 09:58] qmegas commented on #4825
I'm understand why it happens, I also not sure if it's a bug. But one thing for sure: it's absolutely not obvious for user that changing ignoring pattern may impact indexing of built-in list of functions. Something definitely should be changed there.

[2022-10-27 10:03] sarelvdm opened #4869 "Twig Indenting code format, not indenting correctly"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Im using Twig, the (IF statement does not align,

![pic1](https://user-images.githubusercontent.com/3070441/198254476-09bef49a-4815-41f1-ac2e-67ee63caf48a.gif)
![pic2](https://user-images.githubusercontent.com/3070441/198254501-813a5845-6051-423e-a002-76acc50b3fe5.gif)

### How to reproduce

Detail same as in what happened

### Di

[2022-10-27 11:12] junichi11 commented on #4869
Please write an example code to reproduce it. Thanks!

[2022-10-27 11:20] junichi11 commented on #4804
I can't reproduce it.

![nb-gh-4804](https://user-images.githubusercontent.com/738383/198271045-fbdc48cc-2fa4-48f5-ac38-eda40c268073.png)
[code]

[2022-10-27 13:57] neilcsmith-net commented on #4276
Should be fixed in 16-rc2, available from #4815 Please verify /cc @dbalek

[2022-10-27 13:58] neilcsmith-net commented on #4783
Should be fixed in 16-rc2, available from #4815 - please verify.  Thanks!

[2022-10-27 14:18] #4783 closed

[2022-10-27 14:18] #4276 closed

[2022-10-27 15:25] sarelvdm commented on #4869
Hi, thanks for responding.

The Twig conditions **"IF statement or the For loop"** should take preference in alignment over HTML Code.
You can align HTML code inside the Twig condition

Example
"if"
-- "Html code"
"else"
-- "Html code"
"endif"

The For loop should work similar

{% block content %}
    <div class="container">
        <div class="row">
            <div class="box col-8">

[2022-10-27 15:28] johnmanko commented on #4867
@mbien I'm sure I did import a module from a previous installation.  Only Darcula LAF for NetBeans 1.6 is listed under User Installed Plugins.  I disabled that plugin and I'm still having problems.  I should also note, I noticed another error upon IDE startup:

[code]
Here are all of my active plugins.

![image](https://user-images.githubusercontent.com/3154748/198332220-650912cd-ba0f-49a0-8705-42

[2022-10-27 15:35] mbien commented on #4867
I see. So what is likely happening here is #4838. Could you try to rename your NetBeans config and start with a fresh one. If this fixes it we know that it was a plugin import.

your config on ubuntu should be at `[home]/.netbeans/[nb_version]` by default. (don't import anything what has `javac` in the name)

good news is that this is fixed in NB 16 (hopefully).

[2022-10-27 15:42] johnmanko commented on #4867
@mbien

I disabled the following plugins and now everything works.  Hopefully this helps.

* Bugzilla
* Mercurial
* AngularJS Editor
* DukeScript Gradle Project Wizard
* Gradle Projects Distributions
* Gradle
* Gradle Java EE
* Typescript Editor

[2022-10-27 15:46] mbien commented on #4867
yeah maybe its time for a reset. Start NB 16 once its out with a fresh config and then incrementally add plugins again :)

[2022-10-27 15:48] johnmanko commented on #4867
Sounds good. Thanks.

[2022-10-27 15:57] richard-grin commented on #4840
The same problem if I want to insert a "JSF Form From Entity" with the palette. I think that the CDI bean is not found because of the namespace "jakarta".

[2022-10-27 20:46] trkatsarski opened #4874 "Unix launcher java identification issue"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Tried this on Ubuntu Linux 20.04 and 18.04. When the used Java version is a whole number (e.g. 19, instead of 19.0.1), the launcher cannot identify it. I found the problem in the launcher shell script and will commit my proposed fix. I didn't have the opportunity to check if this occurs on Windows as well.

### How to reproduce

_

[2022-10-27 20:52] BradWalker commented on #4874
When you submit a pull request, flag me. Then I work on getting it fixed.

[2022-10-27 22:57] errael opened #4876 ""Help > About" doesn't show cache directory"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

![CacheDirNotVisible](https://user-images.githubusercontent.com/20450427/198412656-87850da7-17b4-45aa-85a3-ee1a4021e2d8.png)

Problem occurs when there are updates available. Enabling the vertical scroll bar might fix it.

### How to reproduce

In plugins need to have an update center with available updates enabl

[2022-10-28 01:48] mbien commented on #4876
the vertical SB was actually intentionally disabled so that the window can size itself properly. #3660

wondering why this stops working once there is the updates notification. Maybe it appears asynchronously after the window is layed out / visible? If yes then we would have to pack the layout again on update.

[2022-10-28 09:46] neilcsmith-net commented on #4708
@aldobrucale thanks for the report. This should be fixed in 16-rc3, which should be available next week.  Please check once it's available and comment here if you still see an issue.

[2022-10-28 09:46] #4708 closed

[2022-10-28 13:58] sarelvdm commented on #4869
@junichi11 I hope the above code and layout is to you standard

Prepared to help with the testing.
Thank you.

[2022-10-29 08:57] upachler opened #4880 "Complete Code shortcut <CTRL>+<Space> no longer works on Mac OS"
### Apache NetBeans version

Apache NetBeans 15

### What happened

When switching from NB 12 to NB 15, I noticed that the code completion shortcut <CTRL>+<SPACE> no longer works (tested with Java source code).

When activated via the shortcut, the 'Source' menu briefly flashes, indicating that the shortcut keystroke was recognized, but code completion is not triggered.

When activating the 'Compl

[2022-10-29 09:02] neilcsmith-net commented on #3678
@mbien given nothing from @sdedic and other conversations around default Maven template, should we consider pushing this again towards NB17 and having a more wholesale rethink of this template?  Possibly worth considering how Gradle support uses `gradle init` too, and what the best parallel is?

[2022-10-29 09:06] neilcsmith-net commented on #4880
Sounds like a duplicate of #4212 Please try running NetBeans itself on an up-to-date JDK.

[2022-10-29 09:06] #4880 closed

[2022-10-29 10:38] javierllorente opened #4881 "No high resolution icon (png)"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

netbeans.icns is 512 x 512 pixels whereas netbeans.png is 32 x 32 pixels. This low resolution makes it look blurry on KDE.

### How to reproduce

Unzip the binary zip and head to netbeans/nb/. There you will see that netbeans.png is low-res.

### Did this work correctly in an earlier version?

No / Don't know

##

[2022-10-29 13:11] mbien commented on #3678
yes lets push this to NB 17 again. Wondering if we should at least add a patch which removes the broken links on top of the file?

I think the most user friendly approach would be if all java project types could use the same hello world template - unless they want something special (a JavaFX project might want a hello world window).

[2022-10-29 13:23] neilcsmith-net commented on #3678
Patch sounds good for now.

I'm more inclined that the default project defers to the build system, eg. like the change made to gradle support. I'm not sure Maven publish an up to date template artefact though?

[2022-10-29 15:01] mbien commented on #3678
I don't mind either way. But I think i lean a bit towards staying with NB templates since all the functionality is there and the user can also customize them easily.

There is also the VSCode plugin which may or may not rely on them. I don't know any details which is the main reason why I actually don't want to touch anything. Last time I tried it got -1ed since I didn't consider that VSCode had n

[2022-10-29 16:34] neilcsmith-net commented on #3678
Just considering whether there should be more consistency with #3084

[2022-10-29 17:04] mbien commented on #3678
ultimately I really don't care as long the links are fixed since they are already broken for a while. Its just a hello world with some text substitution - lets not make this too complicated ;)

[2022-10-30 13:30] neilcsmith-net commented on #3678
I think we're talking at cross purposes. I don't care about the hello world template aspect of this, I care about having a better default Maven template as a whole (eg. pom changes discussed in relation to --release hint). Bringing things in line with the Gradle project behaviour would remove the problematic template completely.

That's for NB17 discussion.  If we can clean the links up for NB16,

[2022-10-30 13:36] bernard01 commented on #4766
Just a hint: It looks like the bug disappears with this dependency in dependent projects removed:

https://github.com/super-csv/super-csv

Perhaps because super-csv has "super" in its package name which appears to be a problem with Java 9 modules. See:

https://github.com/super-csv/super-csv/issues/190

Even though all projects are compiled with Java 8 and the projects build successfully as I wrot

[2022-10-30 14:04] neilcsmith-net commented on #4881
We have high resolution frame icons, which are picked up fine by Gnome.  Any idea what KDE is doing differently and where it's picking the low resolution icon from?

[2022-10-30 14:40] upachler commented on #4880
@neilcsmith-net: Yes, you're absolutely right. Running on JDK 17.0.5 fixes the problem. Sorry I didn't see the old issue before, but I was only looking for open issues when I filed this one, not closed ones.

[2022-10-30 14:45] ebresie opened #4889 "Start Page Size and Startup Dialog have shrunk"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

On Startup, the dialog use to look like
![image](https://user-images.githubusercontent.com/370894/198884587-e48f7881-9d6e-410b-b4bb-258dd6194d53.png)

But with Netbeans 16-rc2 it looks like
![image](https://user-images.githubusercontent.com/370894/198884616-e2f5a509-4d81-4c28-9de9-0c8ec03c4c55.png)

On the Start

[2022-10-30 14:59] ebresie commented on #4889
The About dialog also seems to have some sizing issues as well.

For 15
![image](https://user-images.githubusercontent.com/370894/198885582-ec486b71-169b-4d19-bf67-766b792bdfd1.png)

For 16-rc2
![image](https://user-images.githubusercontent.com/370894/198885538-f921155a-b3c2-4054-a286-6337b8212149.png)

[2022-10-30 15:09] ebresie commented on #4889
In the New Project, it also appears to impact size of the dialogs

![image](https://user-images.githubusercontent.com/370894/198886030-6b9aa77c-3dea-439e-9b0b-458880f821fd.png)

[2022-10-30 15:12] ebresie commented on #4889
Not sure if this is a behavior relative to the screen size as this is high resolution like

![image](https://user-images.githubusercontent.com/370894/198886196-82fda08f-1947-45cd-97e8-a5d70d432849.png)

[2022-10-30 15:37] ebresie commented on #4889
Initially, the etc/netbeans.conf file has no netbeans_jdkhome set by default which seemed to leverage JDK 8 version.  It seems to be leveraging Java 8.  When setting this to netbeans_jdkhome  to a Java 11 JDK this seems to help resolve this.

Does NetBeans 16 now require Java 11 to run?

[2022-10-30 15:39] neilcsmith-net commented on #4889
Officially NetBeans has required Java 11 since NetBeans 13!  I'd recommend using JDK 18 to run the IDE on.  At least, that fixed a bunch of HiDPI issues I'd seen elsewhere.

[2022-10-30 15:41] neilcsmith-net commented on #4889
I'm also curious the Windows launcher is finding JDK 8 without anything in netbeans.conf - doesn't find Java 11+.

[2022-10-30 15:42] #4889 closed

[2022-10-30 16:23] ebresie commented on #4889
Not sure if this is relevant, but

- The Windows Java control panel Java...VIew finds only the Java 8 JRE present,
- There was no "JAVA_HOME" set so it may be looking via the path
- The "Oracle" "javapath" was present earlier in the path (as well as other versions), so maybe this has something to do with how ["Oracle" deals with javapath](https://stackoverflow.com/questions/49540325/which-jre-does

[2022-10-30 17:13] pleumann commented on #4617
Sorry for taking so long, but I finally found the time to reproduce it. I recorded a video. Maybe that helps.

https://youtu.be/9feEfOjbcls

I have the same project open in both versions of NetBeans. I am scrolling through the same (not too large) Java file using the "2 finger scroll gesture" on the touch pad. It is super-smooth in 13 and it studders in 15 (and 14, too). You should be able to see

[2022-10-30 17:20] Chris2011 commented on #4617
Unfortunately on Windows 11 with NB 15 and a 2k Java file, no problems. Everything is smooth. Maybe it is just a mac problem? Can you please share the project with us?

[2022-10-30 17:27] pleumann commented on #4617
I'm happy to share the project, but I see the behavior for each and every project. I just used this one because it's a simple example. I can very well imagine it's Mac-specific, maybe either the Retina display or the M1 processor.

[2022-10-30 18:08] javierllorente commented on #4881
Where are those high resolution icons in the binary zip? I thought netbeans.png was picked for the taskbar, hence my pull request.
Even if KDE is picking the low resolution icon, don't we need a high resolution one for creating a .desktop file (affects any DE)?

[2022-10-30 18:20] neilcsmith-net commented on #4881
They're inside `core.startup` so of less use for a desktop file - https://github.com/apache/netbeans/tree/master/platform/core.startup/src/org/netbeans/core/startup

I think an SVG might be a better option in a desktop file?  Although possibly with a PNG option.  Depends if you're installing them or providing a file path.  I think they need to be added alongside the existing icon in NetBeans distr

[2022-10-30 18:43] pleumann commented on #4617
Uploaded the project to github and sent an invite.

[2022-10-30 18:48] javierllorente commented on #4881
I also think that a SVG would be a better option. Perhaps we could include https://github.com/apache/netbeans/blob/master/nbbuild/javadoctools/siteresource/apache-netbeans.svg in the binary zip?

The [Icon Theme Specification](https://specifications.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html) recommends a 48x48 icon;
"So, you're an application author, and want to install applicati

[2022-10-30 19:01] pleumann commented on #4617
More tests:

1) The problem does not seem to happen on an older i7 Intel iMac I have (MacOS Mojave, same JDK as MacBook Air, but x64 version). NetBeans 14 and 15 are as smooth as 13 in this case. I connected the iMac's mouse to the MacBook to make sure it is the same scroll gesture that is being used, and this is indeed the case (i.e. scrolling via mouse has the same effect as scrolling via touch

[2022-10-30 19:33] jgneff opened #4890 "Building with proxies causes DoS attack on OSU"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

Building NetBeans in an environment that defines both proxy variables causes a brief denial-of-service (DoS) attack on one of the Web servers hosted by the Oregon State University (OSU) [Open Source Lab](https://osuosl.org/). Below is a typical example of the variables being defined and exported to the environmen

[2022-10-30 19:45] pleumann commented on #4617
More tests: Same file. I keep "cursor down" pressed until I reach then end of the file.

Expected behavior: Cursor goes down to bottom visible line of editor, then file scrolls to the end with roughly constant speed.

Actual behavior: After the region with the comment it suddenly starts doing "delays" and "hops". Several times the cursor is transported back to the middle of the window. For a while

[2022-10-30 20:22] mbien commented on #4890
I noticed some OSU server connection timeouts this weekend, e.g
https://github.com/apache/netbeans/actions/runs/3349423376/jobs/5549411354

couldn't find the cause but it lead me to a bug in how our workflow invalidates the cache #4886. I supposed you tested your setup this weekend? :)

[2022-10-30 23:37] jgneff commented on #4890
That could have been me, based on the timestamp (`Fri 28 Oct 2022 05:41:42 PM PDT`). That's the part I don't know: whether the OSU Web servers mitigate such attacks only through a `RequestReadTimeout` directive, or do they also limit the maximum number of connections from a single IP address. See the section ["How is a Slowloris attack mitigated?"](https://www.cloudflare.com/learning/ddos/ddos-att

[2022-10-30 23:39] mbien commented on #3678
found a way how to hide it if broken #4891

[2022-10-30 23:48] mbien commented on #4890
the way it works here is that we download everything into a cache. I think most CI builds shouldn't ping the server at all (assuming everything works as expected) since the cache is shared.
Local builds work the same. Devs would only download the libs during the first build, subsequent builds only download the delta if there is any.

[2022-10-30 23:56] jgneff commented on #4890
Right. I [hit this bug](https://bugs.launchpad.net/launchpad-buildd/+bug/1948501) because the Launchpad build farm runs each build in a transient container created from trusted images to ensure a clean and isolated build environment. It starts every build entirely from scratch.

[2022-10-31 03:20] bernard01 commented on #4766
It is very difficult to produce a minimal test case. Perhaps even impossible. The problem gets smaller and goes away when I remove dependencies and code. I cannot find anything that stands out. The behavior appears to be erratic. This is consistent with my observation that this problem started appearing with no apparent reason such as a new NetBeans version. I would need some tools that help me de

[2022-10-31 04:04] eirikbakke commented on #4889
Yeah, this is a HiDPI scaling issue on Java 8 vs. Java 11; not a NetBeans version issue. Java 8 did not support HiDPI scaling on Windows, and so instead, Windows tries to do its own compatibility mode thing, which doesn't work very well. The solution is to run the NetBeans IDE on a newer Java version. (You can still associate your individual projects with Java 8 if desired.)

[2022-10-31 08:39] MartinBalin commented on #4856
In VSCode it is problematic as UI is very limited, nothing like Options dialog in NetBeans. One way would be to show all hints in the similar way like VSCode own Settings, eg. JSON file or XML file where user can change **true** to **false**. Or in addition to that to have in UI something like this to disable (disable only) hint you don't want to see
![image-2021-11-02-16-01-32-093](https://user-i

[2022-10-31 11:45] #4876 closed

[2022-10-31 12:03] neilcsmith-net commented on #4866
Can replicate. Come across this testing builds and RCs quite often. Ergonomics can be a PITA sometimes (it's actually better behaving here than when we shipped nb-javac separately!). Clicking on another tab (eg. Maven) and back in options fixes the blank pane by enabling Java SE - assume something also due to location of options panel registration in extide cluster?  cc @lkishalmi

[2022-10-31 13:35] junichi11 commented on #4633
Not a bug.
We can comment out by `Ctrl` + `/` temporary. (`//` is added to the top of the line.)
e.g.
[code]
If there is `//` at top of the line, it may be intentional.
So, the editor does not format anything.
This is the same behavior as the Java editor.

[2022-10-31 13:43] neilcsmith-net commented on #4633
Thanks @junichi11 - closing.

[2022-10-31 13:43] #4633 closed

[2022-10-31 16:30] negora commented on #4790
@mbien Thank you for investigating this issue. That information looks interesting.

Besides that, I knew that years ago I had read about this same issue somewhere, but I didn't remember exactly where. I've made a quick search and I think that I've found such bug report: [Bug 236431 - action items does not show hints and warnings ](https://bz.apache.org/netbeans/show_bug.cgi?id=236431). This dates

[2022-10-31 16:35] richard-grin opened #4892 "No more option for creating an EJB singleton in the wizard that creates an EJB"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

In a Jakarta EE Web application, the previous versions of NetBeans allowed to create an EJB singleton with New > Session Bean. It is no longer the case.
It would be nice to have it back.

### How to reproduce

Create a Maven Jakarta EE Web application.
Right click on the application and choose New > Session Bean.

[2022-10-31 16:35] hmlnarik commented on #3725
I got the same error with Usage search when loading Keycloak project. Dump file is in the attached [GroupLDAPStorageMapper.zip](https://github.com/apache/netbeans/files/9903013/GroupLDAPStorageMapper.zip), originating from [Keycloak project](https://github.com/keycloak/keycloak/blob/main/federation/ldap/src/main/java/org/keycloak/storage/ldap/mappers/membership/group/GroupLDAPStorageMapper.java)

[2022-10-31 16:37] naitsirch opened #4893 "[PHP] Make font color of attributes customizable"
### Description

Netbeans supports the definition of native PHP attributes in the form of

[code]
Currently the brackets and the class name ("#[Attribute" and the "]") are always in black font color. I'd like to customize the color so that it is lighter.

 Would be nice if this could be added.

### Use case/motivation

IMHO another color than black would improve the readability.

### Related issue

[2022-10-31 16:39] Chris2011 commented on #4633
@haunhp1 I think, after you wrote the comment, you need to reformat the code again after this the comments should be on the correct position.

[2022-10-31 16:53] mbien commented on #4790
as a minimum we should rename a few of the check boxes like "Hints-based tasks" since it could be clearer what that is supposed to enable - to me at least ;)

[2022-10-31 17:31] Chris2011 commented on #4790
I think there is a difference between hints with fixes and just hints as warnings. I registered those warnings via nb-eslint plugin. Here you can have a look: https://github.com/joakim-eriksson/nb-eslint I don't know yet, where exactly is the code there or showing the warnings inside of the Actions window but in this plugin it works and also in the sonarlint plugin for NetBeans: https://github.com

[2022-10-31 17:35] neilcsmith-net commented on #4852
Isn't that expected during scanning?

[2022-10-31 17:47] mbien commented on #4790
there isn't really a difference between warnings and errors. It all depends where they come from. NB has lots of potential sources. For example some java errors or warnings could come directly from javac.

Those are not from code inspections. There is another bug which complains that deprecation warnings don't show for your code #4604 - well because that is how javac works, it only shows them for

[2022-10-31 17:51] Chris2011 commented on #4790
Of course there is no difference between warnings and errors, but there are differences between hints with and without fixes. Hints can als be suggestions so I thought that this is one problem but just guessing.

Yes, often I dunno which is the right way to do it but anyway, this is another topic.

[2022-10-31 17:53] neilcsmith-net commented on #4127
I'm removing milestone from this issue entirely. @matthiasblaesing please feel free to manage this one as you wish.

[2022-10-31 17:54] neilcsmith-net commented on #4475
@lkishalmi is this still valid?

[2022-10-31 17:56] mbien commented on #4852
i don't know. But that was my thought since that would mean in this case that there would be no way to find jaxb for NB. Since it is not in the runtime JDK and not in the project classpath - its only in the project's target JDK.

Starting NB on 8 and it working would indicate that this is indeed the case.

[2022-10-31 18:04] mbien commented on #4790
A fix is just an optional part of a hint. Hints can be used as inspections and/or code transformations based on their settings.

[2022-10-31 18:06] neilcsmith-net commented on #4852
Theoretically there are settings to switch off annotation processing in the editor and when scanning, but I can only find in the UI for Ant projects with initial look.

Workaround may be to add into the project as a (provided) dependency?

[2022-10-31 18:16] mbien commented on #4852
excellent idea to try out

[2022-10-31 18:17] ramereth commented on #4890
Hi, I'm from the OSUOSL as mentioned on this issue. I see that @jgneff created a ticket on our support system which referenced this issue. I wanted to give some background on how your mirrors are setup in case that impacts how you fix this.

1. We use [mod_limitipconn](https://dominia.org/djao/limitipconn2.html) with `MaxConnPerIP 20` set
2. We also have the `reqtimeout_module` enabled with the fo

[2022-10-31 18:18] ramereth commented on #4890
FWIW this seems to line up with a DDoS we were having at the time against our DNS servers (which also happened this morning unfortunately).

[2022-10-31 19:03] jgneff commented on #4890
@ramereth Thank you for commenting, Lance. That answers some of my lingering questions.

That answers my [previous comment](https://github.com/apache/netbeans/issues/4890#issuecomment-1296379646), and indicates this really is just a self-inflicted denial-of-service attack affecting only the person running the build (me!). It also explains why the server is responding with status code 503. The [REA

[2022-10-31 19:58] ramereth commented on #4890
@jgneff this might be due to the fact you might be hitting one of the other two servers that are in DNS rotation. If you haven't hit those as much, it likely would continue working.

If you'd like us to make any changes on our end to make this better, please let me know. I'm certainly willing to make a change if it makes sense and doesn't impact our service.

[2022-10-31 21:51] lkishalmi commented on #4866
Hmm, both the `gradle.editor` module (new in this release) and the `gradle.dists` are eager modules, which should mean they are loaded if all of their dependencies are loaded. There might be a glitch in the feature enablement code somewhere.

The easy workaround would be to have these modules as regular and add them as a dependency in the `gradle.kit` module. I'm going to create a PR for that.

[2022-10-31 22:06] negora opened #4897 "Inform about unnecessary exceptions in the "throws" clause of a method"
### Description

It would be useful if NetBeans IDE informed about unnecessary checked exceptions in the `throws ` clause of a method. By *unnecessary checked exceptions* I'm referring to checked exceptions that can never be thrown by the body of a method, be it directly (with a `throw` statement) or indirectly (by a call to another method).

### Use case/motivation

Why would this be useful? Beca

[2022-11-01 05:02] lkishalmi commented on #4475
I think yes, though it is not a high priority issue as it does rarely happen. Moving to NB17.

[2022-11-01 15:49] lkishalmi commented on #4881
The "old" Linux installer created a desktop file with a lo-res icon.

The Snap distribution has the 512x512 png, that looks fine.

[2022-11-01 22:00] jgneff commented on #4890
Here's what I found. The NetBeans build avoids the connection limit of `mod_limitipconn` by not sending any request headers at all. That module hooks in too late in the request processing phase to enforce its limit on such unused, idle connections. Looking at the source code:

* the earliest hook for `mod_reqtimeout` is `ap_hook_process_connection`, called during connection processing, while
* the

[2022-11-02 09:09] ikerarazuri opened #4902 "Ctrl + click doesnt work"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Hello.
When i Control + click an external class it doesn`t redirect me to the declaration of that class.
Also Control + space shortcut doesn`t show me any suggestions.
I have try to clear netbeans cache, uninstall it or change netbeans or jdk versions.
This worked to me a some days ago but now it isn`t working.

### How to reprodu

[2022-11-02 09:35] neilcsmith-net commented on #3678
Thanks @mbien - immediate issue with links fixed.  Bumping this to NB17 for discussion on whether project templates should ignore file templates or not.

[2022-11-02 09:37] neilcsmith-net commented on #4902
Please try running NetBeans 15 itself on JDK 18 or lower and see if this replicates.

[2022-11-02 09:46] ikerarazuri commented on #4902
I test with JDK 1.8 and continues replicating.
This JDK 1.8 worked before perfectly.

[2022-11-02 09:48] neilcsmith-net commented on #4881
@javierllorente I had difficulties with Gnome not loading that SVG, tracked to issues with the license header, which is why the NBPackage SVG is different from that one. Would need to validate what works across OS.

@lkishalmi see things like #4776 - it would be useful to have higher quality icons bundled in the zip.

[2022-11-02 09:50] neilcsmith-net commented on #4902
JDK 18, not 1.8.  NetBeans 15 predates the release of JDK 19, so it's possible there are some issues there.  Or try with a release candidate of NetBeans 16 - #4815

[2022-11-02 09:56] ikerarazuri commented on #4902
I tested with JDK 18 and the issue isn't solving.

[2022-11-02 10:18] ikerarazuri commented on #4902
Simplificating my problem when i have a declaration of a method i want to get where is declarated, for example, when i declarate a variable and then unsed, even if its in the same class it doesn`t redirect me to that line.
For example here, when i control click "s" of second line it dosn't show me first:
![image](https://user-images.githubusercontent.com/47148738/199464429-131e0da5-4bae-4c52-94cc-

[2022-11-02 15:33] tmulle commented on #4242
@mbien Thanks for the list of modules to add.

It's been awhile and I was just wondering, how do I set those options in my project so that when the installers and application is built all of those additional module command line parameters get into the /etc/myapplication.conf file automatically? I'm hoping I don't have to manually add those parameters after each build.

If I look in the /etc/netbea

[2022-11-02 16:09] mbastian opened #4903 "Moving swing-validation to the platform cluster"
### Description

Hi,

The `org.netbeans.modules:org-netbeans-modules-swing-validation` module is currently part of the `ide` cluster.

It notably wraps the `ValidationAPI` library. As a NB Platform user I struggled to re-use this module in my application and I thought it would make more sense to have it part of the `platform` cluster. Would that be possible? It seems to only have [platform depende

[2022-11-02 16:35] mbien opened #4904 "Many tests fail on JDK 11"
There are still many tests which can't be run on JDK 11.

NB is currently leaning into the compatibility promise of OpenJDK - it would be good to repair the tests so that the project can say with confidence that things are actually working as intended on JDK 11+.

#4884 is a dummy PR which bumps everything to 11 to generate a current list of failed jobs

feel free to re trigger the workflow as nee

[2022-11-02 17:05] #4866 closed

[2022-11-02 17:08] ebarboni commented on #4904
@mbien jenkins [linux jenkins](https://ci-builds.apache.org/job/Netbeans/job/netbeans-linux/lastCompletedBuild/testReport/) build on jdk 11 shows junit failure too at the same place (some are from long time ago)
for example,
org.netbeans.core.multiview.MultiViewProcessorTest.testFailsWithoutAnIcon

I'm not sure how to make the GA nice to review, very complicated to get the failure place.

[2022-11-02 20:51] capey0 opened #4905 "Files/tabs sort inconsistency"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The files in the Projects tab are sorted by ASCII (as far as I can tell). The open tabs within the editor are sorted alphabetically. Why is this inconsistent? IMO the sort sequence should be an option in the Options window (and should default to alphabetical NOT ASCII) so that the dev can choose how to sort globally.

Some will sa

[2022-11-03 11:33] pleumann commented on #4617
And while I can't pinpoint it or capture it in a video, I would say the "ordinary editing" is slow and jumpy as well (i.e. sideways cursor movement or adding/deleting characters).

[2022-11-03 13:37] negora opened #4908 "XML editor stops highlighting syntax errors when you move cursor to a correct line"
### Apache NetBeans version

Apache NetBeans 15

### What happened

The XML editor stops highlighting syntax errors when you move the cursor to a line that is correct (well-formed).

This may cause that important syntax errors go unnoticed until you run the application. It may seem improbable to overlook errors like that, but when you're quickly editing files with a medium to large size it's not.

[2022-11-03 13:53] negora opened #4909 "Allow to check and/or validate XML files on save"
### Description

NetBeans allows to perform certain actions when a file is saved. For example, reformatting it or removing tailing white-spaces:

![image](https://user-images.githubusercontent.com/2098654/199737660-d110ee8e-1a7b-4203-bbfa-4e358bd7f66e.png)

In the specific case of XML files, I think it would be really useful to automatically check that the file is well-formed. If we could also ena

[2022-11-03 14:13] neilcsmith-net commented on #4908
What you're seeing is the highlighting of mismatched tag. Matching is green. Same as mismatched braces, it makes sense to only show when the cursor is over them.  It's not line related - add a space and it disappears too.

It might be good to mark the syntax error as well, but that's not what you're seeing here as such.

[2022-11-03 15:08] sarelvdm commented on #4869
@junichi11 im really sorry to bug you... can you please take a look at this. I belief you very busy

[2022-11-03 15:46] Biulk opened #4910 "Netbeans learning course"
### Description

I am following the learning path but I found that the links that refer to support files do not work. This can tell me where to find them.
https://netbeans.apache.org//kb/docs/java-se.html
Thank you

### Use case/motivation

_No response_

### Related issues

no

### Are you willing to submit a pull request?

Yes

### Code of Conduct

Yes

[2022-11-03 16:40] ebarboni commented on #4910
Hi @Biulk could you be more precise on missing file?

Since former netbeans site shutdown we have a lot of them missing

[2022-11-04 00:38] junichi11 commented on #4869
Just wait. Please write a simple example code if possible. An expected result and an actual result, too.
NOTE: I can't promise anything. (I can't work on it soon now.)

[2022-11-04 07:17] sarelvdm commented on #4869
### Correct

{% block content %}
{#Im selecting between 2 routes, reason for the 2 forms, this is based on variable input}
{#The if else endif should be aligned  #}

{#The twig logic alignment should take preferance above HTML except when Twig conditions "If / For" loop is used inside a html div#}

    <div class="container">
        <div class="row">
            <div class="box col-8">

[2022-11-04 07:18] negora commented on #4908
@neilcsmith-net Thank you for your fast and informative answer.

I hadn't noticed that matching tags are marked in green because I've a different color scheme and, by mistake, I had set the same color to highlight the current line and also matching tags. Now I understand why this error type was marked with a different style than in other file types (without a wavy red underline): because the edito

[2022-11-04 08:27] negora opened #4913 "Copy & paste options are disabled when editing XML files that use the "Object/relational mapping file schema""
### Apache NetBeans version

Apache NetBeans 15

### What happened

When you edit an XML file that uses the *Object/relational mapping file schema* (specifically, those that use the namespace `http://xmlns.jcp.org/xml/ns/persistence/orm`), the options *Cut*, *Copy* and *Paste* get disabled. This occurs in both the toolbar and also in the context menu of the editor.

Copying and pasting using the k

[2022-11-04 09:54] plavv opened #4914 "Toolbars Git->create tag"
### Description

In toolbar is absent Git->create tag.
In customize toolbars, I can not add item Git->create tag.
Please, add Git->create tag in toolbar.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a pull request?

No

### Code of Conduct

Yes

[2022-11-04 10:05] negora opened #4915 "JPA: automatically validate table and column names in entity beans"
### Description

For projects that use JPA, NetBeans IDE offers the auto-completion of table and column names when you edit entity beans. Since the editor is already aware of that information, I wonder if it could also detect when a table or column name doesn't exist in the database, and then mark the failed `@Table` and `@Column` annotation.

#### How do I make auto-completion work?

I use Wildfl

[2022-11-04 11:59] jglick opened #4916 "Java move refactoring: `IllegalStateException: Cannot use Elements.getTypeElement before the TaskEvent.Kind.ENTER finished event.`"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

16rc3. Running on JDK 17.0.4 but using source level 8. In a largish Maven project, I cut a class from the **Source Packages** view and pasted into another package. The **Move class** refactoring dialog opened; I click **Refactor** and then this is thrown:

[code]

(I had recently renamed the same source file with

[2022-11-04 12:49] mirzah opened #4917 "Run configuration not saved"
### Apache NetBeans version

Apache NetBeans 15

### What happened

In "Project properties -> Run" panel, there is "Configuration" combo, where I can select default configuration for the project. In version 15, however, after confirming with "OK", my selection is **not** saved, so next time I go to "Project properties -> Run" panel, I see "default config" selected again, instead of my selection.

[2022-11-04 12:53] mirzah commented on #4917
Invalid issue, sorry.

[2022-11-04 12:53] #4917 closed

[2022-11-04 18:24] richard-grin commented on #4827
I have just tried the final version of Payara 6.2022.1 and now it works a little better. No longer the message "Please wait...". In fact, the problem is now exactly the same as it is described in the issue https://github.com/apache/netbeans/issues/3813.

[2022-11-04 21:31] Chris2011 commented on #3797
Hey @sysmat please check with latest NetBeans 15 (I think NetBeans 16 is around the corner) and with newest Bined-netbeans-plugin 0.2.4 (https://bined.exbin.org/netbeans-plugin/)

[2022-11-04 21:32] Chris2011 commented on #4584
Hey @c-rosati please check with latest NetBeans 15 (I think NetBeans 16 is around the corner) and with newest Bined-netbeans-plugin 0.2.4 (https://bined.exbin.org/netbeans-plugin/)

[2022-11-04 21:32] Chris2011 commented on #4657
Hey @rmrfchik please check with latest NetBeans 15 (I think NetBeans 16 is around the corner) and with newest Bined-netbeans-plugin 0.2.4 (https://bined.exbin.org/netbeans-plugin/)

[2022-11-04 22:54] jgneff opened #4920 "Build fails with UnknownHostException: www.w3.org"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

The new file `jakartaee_9.xsd` in NetBeans 16 causes a direct DNS lookup during the build. No DNS lookups occurred in the builds for NetBeans 13, 14, or 15. The DNS request causes the build to fail when running behind a strict firewall that allows outbound traffic only through an HTTP or HTTPS proxy server.

The

[2022-11-04 23:03] jgneff commented on #4920
See the Launchpad question ["Build can't resolve www.w3.org (NXDOMAIN)"](https://answers.launchpad.net/launchpad/+question/703550) for more background information.

[2022-11-05 09:12] sysmat commented on #3797
- I'm using NB 15, but now without binary view plugin, and MD editor works fine
- I'll try bined

[2022-11-05 10:02] neilcsmith-net commented on #4920
Curious what implications there might be for this at runtime in some environments too?

I wondered why you were hitting this problem - first time I've looked at strictly-netbeans - interesting!

Feel free to open a PR with this change against `delivery`. No guarantees it'll get in at this stage, though, unless it or something else gets prioritised to force another rc.

[2022-11-05 17:31] jgneff commented on #4920
I would be grateful to have a comment from Josh Juneau (@juneau001) or José Contreras (@pepness) on this issue or my follow-up pull request. It's just a one-line change, but there are more than one version of the `xml.xsd` file available from the W3C. The current local copy in the build appears to work for all versions of J2EE 1.4, JavaEE 5-8, and Jakarta 9, but perhaps we should replace it with t

[2022-11-05 20:17] swpalmer opened #4923 "Gradle Project Loading issues with NetBeans 16 RC-3"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

Project loads, but still NetBeans complains that it cannot load the project.  The message simply states:

boolean org.gradle.api.internal.provider.ValueSupplier$ExecutionTimeVaue.isFixedValue()

Gradle is configured to use a fixed path to my Gradle installation of Gradle 7.6 RC-1

In the same NB session I changed

[2022-11-05 20:35] sdedic commented on #4923
Re. `isFixedValue`: Found a cause. Gradle has refactored this internal API because of a change in Groovy 4 property resolution; see https://issues.apache.org/jira/browse/GROOVY-10707 for deails.

I'll make an appropriate wrapper for that.

[2022-11-06 02:43] RubbleMonkey opened #4925 "Unable to build c/c++ EFL (Enlightenment Foundation Libraries) project"
### Apache NetBeans version

Apache NetBeans 15

### What happened

I started a new c project using the c/c++ plugin (NOT the CPPLite kit plugin), and added the required pkg-config command using the "Add PkgConfig Library" option in the project properties menu. After a number of warnings regarding the <Elementary.h> header the build failed. I tried gcc and clang and neither worked. If I invoke the

[2022-11-06 07:40] mayd opened #4926 "Shell not found error."
### Apache NetBeans version

Apache NetBeans 15

### What happened

I installed NetBeans and JDK for Windows.

Then I installed and configured the build tools for the MSYS2 64 bit MINGW C++ toolchain.

I created a C++ project from the supplied template CppApplication_1.

Building this C++ project failed.  I also tried building an existing MSYS2 C++ project, which also failed.

In both cases an err

[2022-11-06 07:57] #4926 closed

[2022-11-06 09:00] mayd commented on #4926
Looks like Netbeans dos not support MSYS2.  When I tried to debug a project Netbeans complained about missing Cygwin.

[2022-11-06 10:08] OndroMih commented on #3552
I hit this issue too. The reason why the project ends in a corrupted stat is that for newer Java EE and Jakarta EE versions, it uses the same archetype for all generated Maven modules. And the archteype generates a WAR module. Therefore we'll get a WAR module, with multiple nested WAR modules. This is not only wrong but invalid, because the top-level module isn't POM but WAR.

If we decide that Ne

[2022-11-06 10:22] OndroMih commented on #3723
This is because the archetype used by Netbeans generates a WAR maven module in the root project and not a parent POM module. This is a duplicate of https://github.com/apache/netbeans/issues/3552, which contains more details. This issue should be closed in favor of #3552.

[2022-11-06 10:58] OndroMih opened #4927 "Maven EAR project fails to deploy on an app server (GlassFish)"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

When
* A Maven EAR project contains a WAR module
* The project uses maven-ear-plugin >= 3.0.0
* Deployment to GlassFish (I think the behavior is similar to any other app server)

Then:
* Deployment fails
* The exploded EAR generated by Netbeans in `target/gfdeploy` contains both an exploded directory and original

[2022-11-06 11:10] OndroMih opened #4928 "EAR deployment ignores a new property name introduced in Maven EAR plugin v3"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

Since version 3.0.0, the Maven EAR plugin renamed the `fileNameMapping` property to [outputFileNameMapping](https://maven.apache.org/plugins/maven-ear-plugin/ear-mojo.html#outputFileNameMapping). The old name is ignored but the EAR maven plugin.

Netbeans uses the `fileNameMapping` property of the EAR plugin to f

[2022-11-06 14:17] ExE-Boss opened #4932 "Support formatting in `@value` tag"
### Description

Add support for the extended `@value` **Javadoc** tag available since **OpenJDK 20** ([JDK‑8286101]):
[code]

[JDK‑8286101]: https://bugs.openjdk.org/browse/JDK-8286101
[JDK‑8286264]: https://bugs.openjdk.org/browse/JDK-8286264

### Use case/motivation

_No response_

### Related issues

- [JDK‑8286101]
- [JDK‑8286264] (**CSR**)

### Are you willing to submit a pull request?

No

[2022-11-06 18:56] tbw777 commented on #4314
This problem is actual on the latest NB15 version

[2022-11-07 02:52] lkishalmi commented on #4314
What would happen if you pass the following parameter to the platform app `-J-Dfile.encoding=utf-8` ?

[2022-11-07 05:31] troizet commented on #4199
This is a bug that appeared in version 10 of NetBeans in the Pull Request #652. The bug is described [here](https://github.com/apache/netbeans/pull/652#discussion_r479722069) and [here](https://issues.apache.org/jira/browse/NETBEANS-4754).

[2022-11-07 09:52] neilcsmith-net commented on #4923
@sdedic aiming for NB16 or NB17?  We need to assess whether we need an rc4.

[2022-11-07 09:54] neilcsmith-net commented on #4914
Not sure if it should be enabled by default, but if it's not addable by customization then that would be good to look at.

[2022-11-07 09:56] neilcsmith-net commented on #4910
Moving this to discussions as we have with other issues opened about the website.  Be good to change or remove links.

[2022-11-07 10:04] neilcsmith-net commented on #4925
Thanks for the report.  The C/C++ plugin is not part of the Apache NetBeans project, so we can't do anything about issues with it directly.

This code may be released by Apache NetBeans in future.  Perhaps @vieiro has an update, thoughts on workaround, or ideas where help might be useful?

[2022-11-07 12:36] juneau001 commented on #4920
Thanks for making this PR.  I was also wondering why you may have hit this issue, but being in a restricted environment, I've had issues with Maven POMs in the past as well...not particularly caused by this issue however.

The only issue I foresee is keeping up with the latest xml.xsd, but since it does not change very frequently we should be okay to move forward with this PR and document the chan

[2022-11-07 14:49] iarts opened #4935 "Netbeans 15 crashes when i change language"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Netbeans 15 crashes when i change language on mac air m2 2022

### How to reproduce

just open netbeans and change the language e.g from english to greek

### Did this work correctly in an earlier version?

No / Don't know

### Operating System

mac OS ventura 13.0

### JDK

Java: 11.0.13; Java HotSpot(TM) 64-Bit Server VM 11.0.13

[2022-11-07 17:36] sdedic commented on #4923
The PR targets `delivery`, however I'd left to the reviewer and/or release master to decide whether the change should go to NB16. The fix aims to wrap all potentially failing calls (because accessing gradle's internals) into try-catch/log wrapper that should continue project loading even in case of incompatible gradle changes.

[2022-11-07 18:14] tc430gi commented on #4710
Can you help me navigate a little bit in the project? @mbien

[2022-11-07 19:03] errael commented on #4923
@sdedic Does #4936 generally remove the requirement that certain Gradle projects require NB to run on specific JDK? Perhaps not a total fix; but IIUC with the PR in place there is at least light at the end of the tunnel, an adaptor for `gradle <old-version>` could be built.

I'm thinking in particular of the `gradle 6.8.x` projects I have that require NB to run on JDK-11 (or at least JDK-15 or les

[2022-11-07 19:18] vieiro commented on #4925
Hi @neilcsmith-net ,
I have very little idea about the CPPLite functionality. I think @jlahoda is the author and may shed more light into the issue.

[2022-11-07 19:24] mbien commented on #4710
@tc430gi I don't know that area well but after searching a bit around:

the logic for closing tabs seems to be here:
https://github.com/apache/netbeans/blob/2c27f5a31b64dc0a8e3ddbd08a3223f7ed1d141e/platform/core.windows/src/org/netbeans/core/windows/view/ui/TabbedHandler.java#L317-L333

actions are setup here (and the method below too):
https://github.com/apache/netbeans/blob/c084119009d2e0f736f22

[2022-11-07 20:37] mbien commented on #4923
the same applies to the daemon. But at least there we can tell it to use a different JDK to run on so that we can build NB on 19 at least: https://github.com/apache/netbeans/pull/4817#pullrequestreview-1169510219

Interestingly: I still can't explain why we can build NB locally with JDK 19 just fine. But it will fail on gh without me telling the daemon where to run on. (both me and @lkishalmi trie

[2022-11-07 20:41] sdedic commented on #4923
I'd prefer just to add `7.6-rc-1` to the compatibility table as OK for JDK19. I've tried that locally and works well - the project-configured version will satisfy the check.

[2022-11-07 20:44] swpalmer commented on #4923
On a related note, if we feel the need to call internal Gradle APIs for proper IDE integration, are we filing issues with the Gradle team for improved APIs?ScottOn Nov 7, 2022, at 3:37 PM, Michael Bien ***@***.***> wrote:﻿
the same applies to the daemon. But at least there we can tell it to use a different JDK to run on so that we can build NB on 19 at least: #4817 (review)
Interestingly: I still

[2022-11-07 21:18] eirikbakke commented on #4710
Once https://github.com/apache/netbeans/pull/4792 merges I'll submit a PR which does a few changes in related areas in ActionUtils.

Most likely you'd need a new action similar to CloseAllButThisAction and CloseAllDocumentsAction.

[2022-11-07 21:50] errael commented on #4923
Is the information that NB examines something that most IDEs would (might) want to look at? Seems that use case is a strong argument in favor of an API.

[2022-11-07 22:48] RubbleMonkey commented on #4925
Since it is a problem with the old 8.2 plugin and it's not part of the Apache NetBeans project, would it be more helpful to close this issue and open a feature request to opensource the 8.2 c/c++ plugin? It would be a real shame to see such a useful plugin go unmaintained.

[2022-11-08 06:37] erickcomp commented on #4685
Hi guys! Is there any plan on implementing this? I dare to say that one cannot code modern PHP app with Netbeans without having PSR-12 support nowadays.

[2022-11-08 07:48] sdedic commented on #4923
I think so. Both the default values (+ conventions) as that is a part that would have to be replicated by an IDE, and the actually configured values, which is also rather hard, given the flexibility of inheritance, property interpolation etc.

Anyone volunteers to approach Gradle people with a kindly formulated sugggestion ?

[2022-11-08 09:54] neilcsmith-net commented on #4923
Thanks @mbien - but already aware, and raised in https://lists.apache.org/thread/2hggcxcph44gdgwq58kk98ntrt5bsb3v

The community installers that @geertjanw and I produce will have to bundle JDK 18 I guess.  It also means that we should caveat JDK 19 on the downloads page?

Seems a strong argument in favour of a plugin or similar that runs on the target JDK and not the runtime JDK of the IDE to me!

[2022-11-08 10:14] neilcsmith-net commented on #4925
@vieiro yes, this is with the old C/C++ code, not CPPLite.  Are you still looking at updating and bringing that back into NetBeans?  If this particular issue is not still relevant to the work, please close it, thanks!

@RubbleMonkey there is a branch here with the code already (it was always open-source, and was donated) - it's just not in a releasable state. https://github.com/apache/netbeans/tre

[2022-11-08 10:27] sdedic commented on #4923
AFAIK NetBeans _can_ do a better job here, since we do not tell Gradle any JDK (so it chooses the one the tooling API within NB executes on). But - it's the user who shoudl decide. Based on my experience, both scenarios are valid:
- compile on the JDK set as compile target
- compile on user-chosen JDK *different* from the compilation target: the user may want to use e.g. extended syntax, especiall

[2022-11-08 10:54] RubbleMonkey commented on #4925
@neilcsmith-net thanks! I'll have to check that out!

[2022-11-08 10:54] #4925 closed

[2022-11-08 11:15] neilcsmith-net commented on #4823
Any exceptions reported and/or relevant information reported in the log (View / IDE log)?

[2022-11-08 11:53] #4920 closed

[2022-11-08 14:48] mbien commented on #4923
@neilcsmith-net I would go down to jdk 17 tbh since 18 is basically EOL with the release of 19. (you might have to stick to 17 for a few NB releases anyway)

not only for JDK 19. Users which work on projects which use older gradle versions might have to run on 11 as @errael [explained](https://github.com/apache/netbeans/issues/4923#issuecomment-1306055735).

IMO more importantly: NB should also te

[2022-11-08 15:23] errael commented on #4923
Hopefully the instructions, for NB17, are to set the

as @sdedic suggests above https://github.com/apache/netbeans/issues/4923#issuecomment-1306981881 and at the end of https://github.com/apache/netbeans/issues/4923#issuecomment-1306104696

BTW, I've been thinking of opening an issue like "Gradle project dictates NetBeans' JDK runtime". Haven't looked to see if there's an issue for this. Is it nee

[2022-11-08 15:46] mbien commented on #4923
of course. I was thinking what we still could do with the release which is currently baking.

if you add a table to show what JDK version to use for what gradle version we could link this issue from the NB 16 release page instead of having to explain it there again. (@neilcsmith-net would this be ok?)

[2022-11-08 16:30] errael commented on #4865
@neilcsmith-net asked

Wasn't sure myself. What finally convinced me that there's a bug, is that, in the list discussion, @lkishalmi suggested several custom actions to try and I couldn't get it to work; suggested a few things about the build.gradle script that didn't pan out. Maybe it's just a feature request or something to document. Not a show stopper for me, but without it there's arcane steps

[2022-11-08 16:32] cazonda commented on #4713
@mbien
Can you assign me this issue?

[2022-11-08 16:36] neilcsmith-net commented on #4923
A decision still to be made - I don't like reverting down a release either.  Being EOL doesn't really make a lot of difference there.  Decision to ship JDK18 with NB 15 was based on trying to provide a latest features experience out of the box.

Sounds good to me.  It's certainly something to consider.  I also wonder how Gradle 8 will play into all this.

Sounds good to me - @geertjanw tends to ha

[2022-11-08 16:52] cazonda commented on #4713
I don't understand, @mbien. Are you saying that there is no work to do on this issue or you're saying that I should work on another one?

[2022-11-08 16:55] errael commented on #4923
@geertjanw I think this is it [Gradle's Java Compatibility Matrix](https://docs.gradle.org/current/userguide/compatibility.html#java), note that it doesn't cover gradle 7.6 - is Java-19. gradle-7.6 is currently a release candidate. I don't entirely understand the table, but at least for the one I'm familiar with, the JDK is a max.

[2022-11-08 16:56] mbien commented on #4713
@cazonda sorry, what I mean is that you can work on this issue without asking someone to assign it to you. Its good that you mentioned that you want to work on it though - contributions are indeed welcome :)

[2022-11-08 17:03] lkishalmi commented on #4865
I'm sorry I had no time to play with the attached project. I'm sure that this is not a bug. NetBeans does not need any plugin (and I think in these days neither Eclipse nor IDEA needs a specific plugin) to work with Gradle.

The problem is that that the `run` task in this case is a "proxy" task for the included build `run` task, not a `JavaExec` type task. While the `JavaExec` task understands the

[2022-11-08 17:05] lkishalmi commented on #4935
I'd guess that would be JDK specific. Do you have other information logs/crash dump?

[2022-11-08 17:33] errael commented on #4865
BTW, I've discovered that if I check  `ProjectProperties > Build > Compile > IncludeOpenProjects` which is desribed as

then the `Debug Main Project` button works.

The problem is the "and the other open...". I can use this in small situations, but with a lot of projects open, it's not what I want. _I'm not stuck on this_, but it's a hole in the Gradle project support and/or a hole in the Gradle d

[2022-11-08 18:08] errael commented on #4865
IntelliJ docs https://www.jetbrains.com/help/idea/work-with-gradle-projects.html#gradle_composite_build IntelliJ docs starts with

or

This 2nd method says

Being able to list the included projects rather than "all open".

I searched around, couldn't find anything beyond the gradle docs that say how to add a run task for composite builds. But that sure doesn't mean it's not there.

[2022-11-08 20:06] BrandonWill opened #4940 "PHP interpreter doesn't work with spaces"
### Apache NetBeans version

Apache NetBeans 15

### What happened

PHP Interpreter does not work correctly if there are spaces.

Example not working:
![image](https://user-images.githubusercontent.com/949047/200662911-f677c4f5-717c-41d8-85e2-43cb4b16017a.png)

Example working:
![image](https://user-images.githubusercontent.com/949047/200662755-025559e9-a939-49e6-9c92-8caaf6200902.png)

### How to

[2022-11-08 23:47] korenevskiy opened #4942 "Add automatic closing of the menu."
### Apache NetBeans version

Apache NetBeans 15

### What happened

I noticed that the cursor in the text editor is not moving correctly. (PHP) The point is that when you write text, the context menu for substituting functions and fields opens. It's good. BUT! when you add the menu command, it interferes. I.e. when the menu is open, then pressing the cursor arrows Up, Down the cursor moves up and

[2022-11-09 04:01] errael commented on #4865
Starting with clean userdir/cachedir

Setting those in gradle properties, when it runs I see
[code]
And then it hangs, needing to manually abort
[code]
Is #4943 related to the hang? The comment "then the registration of the JDPA listener would g through ..." seems to relate. (I'm not seeing an exception, but not doing a hint thing.)

[2022-11-09 04:12] lkishalmi commented on #4865
That's not a hang. The process waits for a debugger to be attached. Use the Debug menu and attach to localhost port 5005 with dt-socket

[2022-11-09 04:32] errael commented on #4865
Cool, it worked! Hit a breakpoint. Thanks.

Got it, so #4943 will let the attach happen?

This wait explains why I couldn't get this to work in September with the real project. Looking back at the mailing list, I saw a "hang" but didn't pursue it, thinking my setup was wrong.

[2022-11-09 05:38] lkishalmi commented on #4865
No you can manually attach the debugger right now, as I've mentioned, from the Debug menu.

#4943 fixes the exception, that prevent the IDE do the attach automatically.

[2022-11-09 06:49] errael opened #4944 "Gradle projects dictate NetBeans' JDK runtime"
### Apache NetBeans version

Apache NetBeans 16 release candidate

### What happened

This is a well known issue. Some recent discussion has shed some light, and mentioned some possibilities. In particular, @sdedic mentions a possible way forward with https://github.com/apache/netbeans/issues/4923#issuecomment-1306981881 and at the end of https://github.com/apache/netbeans/issues/4923#issuecomment

[2022-11-09 12:51] neilcsmith-net commented on #4942
Pressing left or right arrows shouldn't close the code completion - it's rather important behaviour for filtering results. I've never noticed it affecting the ability to continue typing - that would be a concern.

It's been a while since I've used PHP support.  In Java support the code completion is a little less eager to appear.  You could try changing the settings under `Tools / Options / Editor

[2022-11-09 13:34] junichi11 commented on #4942
Agree.

[2022-11-09 15:19] eirikbakke commented on #4314
Confirmed to happen when I run my NetBeans Platform Application in a folder named "test-æøå".

Looking at nblauncher.cpp, the check for non-ascii characters dates back to 2013; it relates to problems with the Windows command line interface not understanding certain characters.

https://bz.apache.org/netbeans/show_bug.cgi?id=222850
https://bz.apache.org/netbeans/show_bug.cgi?id=222846

I suspect th

[2022-11-09 15:48] eirikbakke commented on #4314
I tried running NetBeans from a folder named "chartest-Андрей". Interestingly, in my case the error that result comes _before_ the more friendly warning has a chance to show up:

![image](https://user-images.githubusercontent.com/886243/200874760-5f398d01-0c3a-4229-a7e8-bd0b2e113944.png)

On the other hand, a folder named "test-æøå" causes the more friendly dialog to show up. Recompiling the launc

[2022-11-09 16:09] lkishalmi commented on #4944
Well, this is not a bug, but a limitation of the Gradle Tooling API provided by Gradle.

I think the point of view really is why are you stuck with those old Gradle versions, what prevents you to upgrade your build system? That should be  a regular task every now and then.

[2022-11-09 16:26] mbien opened #4952 "Remove Thread.stop() usage"
Those methods are deprecated since Java 1.2 and will throw UnsupportedOp exceptions from JDK 20+.

got reminded today again by getting this notification:
https://inside.java/2022/11/09/quality-heads-up/

[2022-11-09 16:51] errael commented on #4944
I don't disagree. I took the "upgrade your build system" to extremes moving from `ant` to `gradle 7.5.x` earlier this year for my main project; then had to back up to `6.8.x`. I personally would rather be at the bleeding edge. Sadly, it's not always that simple.

I do not own the Gradle 5.3.1 project; I work with it, occasionally make PR's. It's a quiet project and the owners don't like change. Th

[2022-11-09 16:59] errael commented on #4944
I disagree, `Gradle` can't be blamed for design decisions made by the `NetBeans` team. It was probably the right thing to do at the time (NetBeans does tend to do a right thing).

I'm speaking without a good understanding of all the underlying issues, what's possible and with how much effort. It may be that this bug is too much work to fix, and so it won't be fixed; but that doesn't mean it's not

[2022-11-09 17:26] eirikbakke commented on #4314
@tbw777 Could you enter the command "chcp" in the Windows Command Prompt, and let me know which "Active code page" number it prints? Thanks for your help!

I think the warning dialog in the NetBeans launcher is testing the wrong thing; the problem occurs not when non-ASCII characters occur (c >= 128), but rather when the Win32 GetModuleFileName function returns a string with a question mark in it.

[2022-11-09 18:52] lkishalmi commented on #4944
Thanks Ernie, for being content to bugging this much!

It seems I've lived with the misconception, that JavaHome can't be set on build action to retireve the project info for years. I just got angry enough to link that proof here, so it is a limitation in Gradle, when it popped into my eye, that indeed the Java home can be set on `BuildActionExecuter`. That would resolve this issue.

I have that t

[2022-11-09 19:02] sdedic commented on #4944
yes, see note https://github.com/apache/netbeans/issues/4923#issuecomment-1306104696 (at the end).

BTW the same problem probably applies to Maven (it's run using project's target JDK now). I am sure there are scenarios (e.g. plugin compatibility) when the user needs to run it on a specific Java != NetBeans != target. I don't know whether this is worth a shared / common setting in generic project

[2022-11-09 19:32] errael commented on #4944
That's great news. I never expected NB16; when asked for NetBeans version, NB16-RC was the closest

(I'm glad I toned it down)
I admit that when @sdedic said
[code]
My first thought was that I probably wasn't the best choice.

[2022-11-09 20:48] Chris2011 commented on #4447
I had a look and it is already working. Go into a method, add /* Foo */ somwhere in the code and you can fold it. If you encounter a position, where this is not working, please create a new ticket with explicit steps to reproduce.

[2022-11-09 22:44] errael commented on #4865
There were two issues.

1. Getting the right Gradle incantation, provided in https://github.com/apache/netbeans/issues/4865#issuecomment-1308010000.
2. What I misinterpreted as a hang and fixed by #4943

[2022-11-10 01:03] #4585 closed

[2022-11-10 01:39] eirikbakke commented on #4314
I added a PR which should fix this in at least some of the cases, namely where there are international characters in the path but they are representable in the current Windows codepage.

I suspect @tbw777 is using a Windows version that actually has a Cyrillic codepage as the default, because the warning he saw would not otherwise appear. (On US Windows, one would see a different error later in th

[2022-11-10 09:37] MartinBalin opened #4956 "ClassNotFoundException when starting VSNetBeans"
### Apache NetBeans version

Apache NetBeans 15

### What happened

Run VSNetBeans 15.0.301 following exception is thrown on macOS, using GraalVM 22.2.0 JDK 17.0.4.1; Java HotSpot(TM) 64-Bit Server VM 17.0.4.1+1-LTS-jvmci-22.2-b08
IDE continues to run.
[classnotfound.txt](https://github.com/apache/netbeans/files/9979352/classnotfound.txt)

### How to reproduce

Install VSNetBeans form marketplace

[2022-11-10 10:15] neilcsmith-net commented on #4944
I'm sceptical of how this might be done.  Can be achieved in build scripts already?  Would need to be done in such a way that running the build on CLI behaves the same.  Maybe being able to pass registered platforms as paths in environment variables and/or system properties?  Maybe also (in Maven) disabling compile-on-save by default.

[2022-11-10 16:10] eirikbakke commented on #4314
Actually, for cases where the folder path has characters not in the default Windows codepage, there is a solution that doesn't require further changes to the NetBeans launcher (beyond the PR that was now merged). It's the "Use Unicode UTF-8 for worldwide language support" setting that is hidden in the Windows "Region Settings" dialog:

https://stackoverflow.com/questions/56419639/what-does-beta-us

[2022-11-10 16:50] mbien commented on #4944
is the error message sufficient to inform the user what the problem is? Or is it some ASM or linkage error?

[2022-11-10 17:48] mbien commented on #4626
i think you could start NB with `--close-group` and then select a new one via right click, no?

[2022-11-10 18:01] neilcsmith-net commented on #4626
There is a related issue here that changing groups while projects are loading doesn't work. Making that work correctly and quickly might solve half the issue.

[2022-11-10 18:29] jglick commented on #3675
Long broken. Happens in 16-rc3 when running SpotBugs in a multimodule reactor using mvnd.

[2022-11-10 19:54] jglick commented on #3675
Long broken. Can be reproduced in trunk (running IDE on Java 17 if it matters):
* Configure the Maven executable to be mvnd (0.8.2, running on Java 11 if it matters).
* Configure non-test Maven executions to pass `-DskipTests`.
* Check out & open https://github.com/jenkinsci/jenkins.
* Clean & build. Error is thrown and log stops after
[code]

Has something to do with the forked execution of https

[2022-11-10 21:05] jjazzboss commented on #3725
Same here, Netbeans 15, Win10, JDK17.
About 1/3 of the rename/move refactorings are blocked by this bug, this is seriously annoying.

[code]

[2022-11-10 21:30] lkishalmi commented on #4944
We can run the Gradle Wrapper with whatever JDK we wish (AFAIK: Java 8-17 at the moment, with Gradle 7.4). Just need to pass an appropriate `jvm` to the following `java` task: https://github.com/apache/netbeans/blob/c69515d387e3b595909742e64de1ac426e79c513/extide/gradle/build.xml#L61

[2022-11-11 06:07] errael commented on #4865
Closed too soon. Using `NetBeans 16-rc4`, after `DebugMainProject` stuck at
[code]
Using ` Debug > AttachDebugger` can manually get things going.

[2022-11-11 06:09] errael commented on #4865
@neilcsmith-net , @lkishalmi still needs triage (since there's a workaround, not urgent (at least for me))

[2022-11-11 07:09] lkishalmi commented on #4865
Well, I can't reproduce this with 16-rc4 using the attached sample project and the aforementioned properties file.
I just open the compose and the app projects. Place a breakpoint at line 11 of the `App.java`. Set the compose as main project. Press the debug button on the tool bar an the debugger attaches automatically then stops at line 11 of the `App.java`

[2022-11-11 07:18] errael commented on #4865
Thanks for checking. Hmm, I copied the 15 userdir. It's late here, I'll poke at it tomorrow.

[2022-11-11 08:26] triviFab commented on #4160
it works correctly on Netbeans 12.1

[2022-11-11 08:55] helper14 commented on #4160
Hello triviFab,
thank you for your reply! I tested it again on Netbeans 14 and 17.0.3; OpenJDK: Still does not work for me.

I attached a minimal test project. If you open index.xhtml, right klick on 'myManagedBean' and kick 'Navigate > Goto Declaration' ... nothing happens. The same is for the 'text'-part of 'myManagedBean.text'.

[GotoProjectDeclaration.zip](https://github.com/apache/netbeans/fi

[2022-11-11 09:21] helper14 opened #4959 "Property preview (Code suggestion) in JSF does not work for backing beans"
### Apache NetBeans version

Apache NetBeans 15

### What happened

In a Faces file, type the name of a backing bean and a '.' and press 'Crl + Space' I expect to pop up the properties and methods of the backing bean as a code suggestion. Actually 'No suggestions' is shown.

### How to reproduce

Please see 'What happened'

### Did this work correctly in an earlier version?

Apache NetBeans 12.6 o

[2022-11-11 09:41] helper14 commented on #4959
Duplicate see #4162

[2022-11-11 09:57] richard-grin commented on #4892
Are there any plans to fix this and other Jakarta EE 9.1 issues in the final NetBeans 16 release? Or are the fixes planned for a later release?

[2022-11-11 10:05] neilcsmith-net commented on #4892
Not in NB16, sorry - see [dev@ mail thread](https://lists.apache.org/thread/m4ok1nnk4dt44kgycf5s64b3vwtj0xrc). Hopefully fixes can happen in the NB17 timeframe.

[2022-11-11 10:17] richard-grin commented on #4892
Thanks Neil for this important information. It is a big problem for me
because I have a training course scheduled for a month from now, but I
understand it is not easy to fix all these issues.

Richard

Le 11/11/2022 à 11:06, Neil C Smith a écrit :

[2022-11-11 10:59] triviFab commented on #4160
Hello helper14!

I pesuaded it doesn't work, I still struggle with it as well !

Last version I was able to use is, as I wrote before, 12.1

[2022-11-11 13:36] adam-waldenberg commented on #4823
Absolutely nothing.

[2022-11-11 16:52] adam-waldenberg commented on #4823
I've done some snooping around and found some a change that is very similar but for Gradle, #4418. Maybe it is related to this problem.

[2022-11-11 16:55] adam-waldenberg commented on #4418
Please check out;

https://github.com/apache/netbeans/issues/4823#issuecomment-1311941783

[2022-11-11 19:29] adamoutler commented on #4823
@adam-waldenberg there was a software problem in netbeans, clearing the cache did not fix it.

[2022-11-11 20:21] errael commented on #4865
Still can't get it working.

With abundance of caution, attaching zip with aforementioned properties file.
[gradle-projects-compose-fix1.zip](https://github.com/apache/netbeans/files/9992985/gradle-projects-compose-fix1.zip)

Extract netbeans-16-rc4-bin.zip, start NetBeans-16-rc4 with clean userdir/cachdir
no import prev settings
turn off gradle cache:
    uncheck `Tools > Options > Java > Gradle

[2022-11-12 02:00] korenevskiy commented on #4942
@neilcsmith-net @junichi11
Excuse me. I was wrong. The left and right arrows do not affect code editing.
BUT! I got it mixed up. And this problem is completely relevant for the Home, End buttons. When typing, I often press Home, End. Since it turns out that if the menu pops up, the Home End will not work with the text, and if there is no menu, then these buttons move the cursor to the beginning of